[2017-07-07 15:13] sammefford commented on #766
Let me add quickly that "application-level auth" is a concept in MarkLogic named before the Java Client API existed.  It's confusing to talk about in the context of the Java Client API because it is for 3-tier architectures.  In 3-tier architectures the main "application" is in the middle tier.  It may be that the name "application-level auth" can still apply perfectly to whatever solution we come

[2017-07-07 16:19] tdiepenbrock commented on #767
Ultimately I believe our goal is to support "application-level"
authentication--which I agree is becoming sort of a misnomer--via the Java
Client API.  I see a few needs that are somewhat conflicting that are
complicating the overall issue.  In the list below I say "we" to mean "we
as an organization/development community":

1) we have a high-priority need to support customers who want to send use

[2017-07-07 20:29] sammefford commented on #767
One small clarification: replacing Jersey doesn't complicate things from a design standpoint.  It's just a use case to teach about the perils of exposing too much tied to the underlying implementation.  The specific case is that we exposed DatabaseClientFactory.SSLHostnameVerifier.ANY, COMMON, and STRICT (based on org.apache.http.conn.ssl.*HostnameVerifier).  The loose docs we had for them left th

[2017-07-07 22:22] sammefford commented on #763
Are you sure this behavior changed after commit f7643346dc909c7a0a7dbe45573605a5490fcb9c ?  I'm looking at the code for JerseyServices and it seems the same effect which you report should have happened before and after.

[2017-07-10 15:17] ehennum commented on #764
Do you happen to know when this regression started?  There were some recent changes to the serialization, which may have introduced a regression.

[2017-07-10 16:17] jmakeig opened #768 "Document supported Java runtime"
MarkLogic only supports Oracle’s (née Sun’s) JRE. We should be specific in the documentation about platform, architecture, and runtime version.

[Here’s how mlcp does it](https://docs.marklogic.com/guide/mlcp/install#id_15275), for example.

[2017-07-11 17:37] sammefford commented on #757
I see that the javadocs are missing from docs.marklogic.com.  I don't know how to reproduce it myself, however.  Can you tell me what command or tool you're using to build the javadocs?  I'm using "mvn javadoc:javadoc" with Java 1.8.0_111.

I'm assigning to Erik to see if he can reproduce.

[2017-07-11 17:41] ehennum commented on #757
We're not documenting the base types because we don't expect or want people to use the base types.

[2017-07-11 17:50] sammefford commented on #768
Kiran, can you take a crack at this?  I think you have better knowledge of which platforms and java version combinations we test.  In the mean-time I'll reach out to support to see what they think we should say that we officially support.

[2017-07-11 17:52] kcoleman-marklogic commented on #757
So, when you build locally, do you see all the PlanBuilderBase.* javadoc? Be sure you looking for PlanBuilderBase, not PlanBuilder subtypes. For example, if you go to the page for PlanBuilder.AccessPlan and click on PlanBuildBase.AccessPlanBase in the list of interfaces it extends, does it work?

We build using this command, so I don't think the command line is the issue:
[code]
Which is to say, t

[2017-07-11 18:08] kkanthet commented on #768
All our regression and local machines have Oracle Jvm’s, some of linux local vm’s have Open JDK but majority of our testing in on oracle java.
RH7 :
builder@rh7v-intel64-90-test-35$ java -version
java version "1.8.0_72"
Java(TM) SE Runtime Environment (build 1.8.0_72-b15)
Java HotSpot(TM) 64-Bit Server VM (build 25.72-b15, mixed mode)

Windows:
java version "1.8.0_72"
Java(TM) SE Runtime Environme

[2017-07-11 19:18] sammefford commented on #768
Kiran, could you please comment about our envs for testing 3.x?  I believe those are running Java 1.7.

[2017-07-11 20:23] xmlking opened #769 "Spark : Jersey HTTP client: A message body writer for MultiPart not found"
I have following issue using java-client-api v3.0.7  with Apache Spark 1.6.1
is there any workaround ?

[code]

[2017-07-11 20:29] sammefford commented on #757
I'm using Maven 3.2.3 and 1.8.0_72 of the JDK.

Yes

Right.

Yes

Here's a screenshot

![image](https://user-images.githubusercontent.com/298950/28089164-529e03f4-6645-11e7-8d40-b66e6daa9b6b.png)

[2017-07-11 20:31] sammefford commented on #757
However, if I understand Erik's recommendation it is that we leave this as-is on docs.marklogic.com

[2017-07-11 20:38] xmlking commented on #251
@sammefford is there an early access to 4.0.3? I have to use this lib with Apache Spark and getting similar error
https://github.com/marklogic/java-client-api/issues/769
looking for workaround are  early access fix.
Thanks

[2017-07-11 20:38] sammefford commented on #769
According to this page, Spark 1.6.1 is using Jersey 1.9.  If that's on the classpath, it's likely to conflict with Jersey 1.17 which the Java Client API needs.    Are you able to remove Jersey 1.9 from the classpath and see if you can run with just Jersey 1.17 on the classpath?

[2017-07-11 20:41] sammefford commented on #251
If you're ok with something that's not yet released, you could try the 3.0-develop branch.  It has Jersey replaced with OkHttp.  It's not an early access release--rather it's the latest develop branch for 3.x.  Please report any bugs you may encounter.

[2017-07-11 20:47] xmlking commented on #769
My Spark cluster is remote and I guess I cannot force  Jersey 1.17 even I my fatjar contain Jersey 1.17.
I am making fatjar with shadowJar gradle plugin.

[code]

I tried to force  1.9 in my client jar but it didn't help
[code]

[2017-07-11 20:49] xmlking commented on #251
@sammefford 👍 I will give it a try and share my results
Thanks

[2017-07-11 20:51] kcoleman-marklogic commented on #757
That's great in theory, but at least one of those intefaces, ModifyPlanBase, has methods attached. Given that we've chosen not to show inherited methods inline, that means there's no way of knowing about them. If users never need to interact with PlanBuilder.*Plan interface objects directly, then that's fine. Otherwise...

[2017-07-11 22:35] xmlking commented on #769
I got apache spark integration working with `3.0-develop` branch with `OkHttp`
hope to see this branch released soon on Maven repository.

[2017-07-11 22:47] sammefford commented on #767
I believe the pressing need for this has gone away.  Please re-open if I'm wrong.

[2017-07-11 22:47] #767 closed

[2017-07-11 22:59] sammefford commented on #757
Erik, what do you think?

Side note: Erik probably did this on purpose, but I now realize the reason my javadoc started building properly was because I tried making PlanBuilderBase public.  That did the trick.  I just got distracted and forgot I'd done that so I was confused why it was working for me.

[2017-07-12 15:51] sammefford commented on #769
Great!  We'll let you know when it's released, and once you confirm that it works for you we'll close this.

[2017-07-12 16:51] sammefford commented on #760
This should be resolved by the same fix for #761 .  Let me know if it's not.

[2017-07-12 18:59] sammefford opened #770 "Stress tests fail because OkHttp Digest auth doesn't support multi-threaded Java"
As reported in https://github.com/rburgst/okhttp-digest/issues/33 , we encountered an issue when we ran with OkHttp in our stress tests.  I see most tests fail with error messages like:

[code]

This should definitely not be happening, because the user is authorized and most requests succeed.  To have some intermittent failures with the error "FailedRequestException ... Unauthorized" means the sam

[2017-07-12 19:27] sammefford commented on #770
So far the developer of the library has been very responsive.  He has not, however, committed to making the fix.

[2017-07-12 19:33] sammefford opened #771 "Write regression tests for SSLHostnameVerifier"
We need to test our API for customers to create a custom implementation of SSLHostnameVerifier.  Before we just passed along what HttpClient provided us since it offers the same underlying API.  But OkHttp doesn't offer this same underlying API.  So we're going to need to implement it ourselves.  Thus we need solid unit tests.

We will glean ideas for test cases from [OkHttp](https://github.com/sq

[2017-07-12 20:15] jmakeig commented on #759
Why is this in 3.0.8? Does it have to do with #737?

[2017-07-12 20:17] jmakeig commented on #470
Is this related to #737? If not, could we move it out of 3.0.8? That’s not to say we shouldn’t work on it, just not as part of 3.0.8.

[2017-07-12 20:19] jmakeig commented on #755
Does this have to anything to do with #737? If not, can we move it out of 3.0.8? The intent of 3.0.8 was to have a few variables as possible, given the shifting sands underneath.

[2017-07-12 20:21] georgeajit commented on #759
Yes. We had regressions when #737 was implemented.

[2017-07-12 20:55] sammefford opened #772 "Implement SSLHostnameVerifier on OkHttp"
SSLHostnameVerifier was implemented as mostly a pass-thru from HttpClient.  Unfortuantely OkHttp doesn't offer the same interfaces.  We need to implement something to keep SSLHostnameVerifier available.

[2017-07-12 21:16] sammefford commented on #494
@georgeajit looks like this has shipped.  Please re-open if I'm wrong.

[2017-07-12 21:16] #494 closed

[2017-07-12 21:41] sammefford commented on #684
I believe this was actually 4.0.1

[2017-07-12 21:41] #684 closed

[2017-07-12 21:43] sammefford commented on #516
I think this was 4.0.1

[2017-07-12 21:43] #516 closed

[2017-07-12 21:54] sammefford opened #773 "Make Client Certificate Authentication work with OkHttp"
There should ideally be no API changes, just testing and under-the-hood changes

[2017-07-12 22:03] sammefford commented on #470
This has been done as part of #737.

[2017-07-12 23:28] chiamarc commented on #494
The DMSDK is still having problems, ostensibly because of this.  Shiva and I will be diagnosing tomorrow and let you know if this needs to be re-opened.

[2017-07-12 23:50] sammefford opened #774 "Create exceptions for "no TGT in the cache" and "expired TGT""
It's possible for a program to get a new TGT when these scenarios happen.  So let's create specific exceptions so customers can.

[2017-07-13 17:20] tdiepenbrock opened #775 "QueryManagerImpl incorrectly hardcodes start page to 1"
We were experimenting yesterday with adding transaction awareness to our search requests.
(In a few places in the app, we open a transaction for a long request, write some data, then expect it to be available to read requests within the same transaction)

We changed from using this `queryManager` method:
  `queryManager.search(queryDef, searchHandle, start)`  (implemented at QueryManagerImpl:140)

[2017-07-13 18:51] georgeajit commented on #762
The test still fails with latest pull as of 07/13/2017.

Wondering if we need to check for ``failure.getMessageCode()``` is ```SEC-PRIV``` for a response from server
[code]
in
```com.marklogic.client.impl.OkHttpServices.putPostDocumentImpl```
method at line 1440
[code]

[2017-07-13 19:02] georgeajit commented on #759
The test works fine now. Tested on 07/13/2017 with Server build dated 8.0-20170630.

[2017-07-13 20:31] sammefford commented on #775
Thanks for reporting this, Tom!

[2017-07-13 22:06] vivekmuniyandi opened #776 "Implement Kerberos with Okhttp"
Implement Kerberos based authentication with Okhttp client. After moving on to Okhttp client from Jersey client, implement Kerberos based authentication through the new http client as well

[2017-07-13 23:12] georgeajit commented on #758
This issue is fixed. Tested on 07/13/2017 with latest pull and on MarkLogic 8.0 Server build 06302017.

[2017-07-13 23:17] georgeajit commented on #760
This issue is resolved. Tested with latest pull of 3.0 develop and on MarkLogic Server 8.0 build 06302017.

[2017-07-13 23:21] georgeajit commented on #761
This issue is resolved. Tested on MarkLogic 8.0 Server build dated 06302017 with latest 3.0 develop.

[2017-07-14 16:28] ehennum commented on #764
The server-side serialization bug is believed to be fixed, so this client regression should not be gone.

[2017-07-14 17:06] sammefford commented on #657
This is a duplicate or #470

[2017-07-14 17:06] #657 closed

[2017-07-16 22:27] xmlking commented on #769
**Create**, **Delete** actions work but **Patch** is not working with `3.0-develop` lib.
no errors in the logs but document is not getting patches.
Am I  doing anything wrong ?

[code]

output
[code]

[2017-07-17 00:39] xmlking commented on #769
I am trying to add a new child node "abc" to a json document.  It is returning "HTTP/1.1 204 Unchanged"
I have success only if "abc" already exist in the target document.
will it be possible to add new child node with patch method?

[code]

[2017-07-17 14:50] sammefford commented on #769
@xmlking would you be able to create a new issue for this?  It's best to keep issues focused on one topic.

Also, in the new issue, could you include the contents of /abc/123.json?  It's hard to troubleshoot a patch without knowing the document structure.

[2017-07-17 22:29] sammefford opened #777 "OkHttpServices setting the format incorrectly for Optic API"
I'm getting the following test failures:

  PlanGeneratedTest.testFnAnalyzeString2Exec:83->PlanGeneratedBase.executeTester:110->PlanGeneratedBase.checkXML:157 ▒ IllegalArgument
  PlanGeneratedTest.testFnAnalyzeString3Exec:88->PlanGeneratedBase.executeTester:110->PlanGeneratedBase.checkXML:157 ▒ IllegalArgument
  RowManagerTest.testResultRowDocs:388 ▒ IllegalArgument XMLStreamReaderHandle s...
  Ro

[2017-07-17 22:43] tdiepenbrock opened #778 "test suite failures due to lack of xdmp:get-server-field privilege"
Running the test suite from the develop branch yields 5 failures/132 errors.  Many of these errors are due to the request user not having the xdmp:get-server-field privilege.  Log is attached.

Tests were run in the following environment:

ML version: 9.0-1.1
OS: MacOS.
Java version: 1.8.0_102-b14.
Client API: develop branch at https://github.com/marklogic/java-client-api/commit/bdbfa6d2eff495000a

[2017-07-17 23:55] georgeajit commented on #778
@sammefford

Why  should rest-writer be assigned  a xdmp:get-server-field? Isn't that a bug, then?  Or is this issue missing parts of user setup / other configurations?

[2017-07-18 15:45] grechaw commented on #778
looks like a regression/bug to me.  accessing the rest error format should be amped.
I'm surprised this is surfacing the Java tests and not trunk REST tests though.  Can you confirm that this is just 5.0-SNAPSHOT failures?

rest-writer should not have any privileges beyond the rest-writer and rest-reader privileges.

[2017-07-18 16:02] sammefford commented on #762
oops, I missed doing the same fix also at line 1440

[2017-07-18 16:22] rjrudin opened #779 "XCC performance compared to DMSDK performance during bulk ingest"
We have a Spring Batch-based data migration program that reads data from Oracle RDB and writes it to MarkLogic. We have a 3-node ML cluster that's now on 9.0-1.1, was on 8.0-6.3 before.

We've been using XCC and a custom "pooling" approach where we create an XCC `ContentSource` for each host. Each batch of documents to be written to ML is then handed off to a `ContentSource` in round robin fashion

[2017-07-18 16:34] grechaw commented on #778
There are a lot of errors in REST API unit tests today.  Looking into it.

[2017-07-18 16:36] grechaw commented on #778
I see some notices that the nightly build was failing on mac and window last night.  Maybe this issue will be resolved underneath.

[2017-07-18 17:25] chiamarc commented on #779
Just a quick note that aggregate average CPU for DMSDK is around 40% whereas for XCC it's around 21%... still, the execution time numbers speak for themselves and I wonder why DMSDK is doing roughly twice the amount of work.  The ETC usage is suspicious as well.

[2017-07-19 20:16] sammefford commented on #770
I made the fix, and submitted a pull request: https://github.com/rburgst/okhttp-digest/pull/35 .  Hopefully he'll accept it.  I re-ran the stress tests today with the fix in place and the issue is now gone.  I see a couple other issues, but I believe they're unrelated.

In order to get this to work I had to:

- git clone git@github.com:sammefford/okhttp-digest.git
- cd okhttp-digest
- add two line

[2017-07-19 20:19] sammefford commented on #770
This process is obviously a stop-gap.  Before we can release we'll need the library author to accept my PR and push a new release to jcenter so we can depend on that.  Or if that doesn't happen quickly enough we'll need to decide if we push our own release of it and depend on that.

[2017-07-19 20:29] sammefford commented on #470
I'm taking this back for testing since it can't really be tested in unit or functional tests.  I think all we can do is stress tests to make sure it doesn't have any scalability issues.  Also, while running those I could do some manual testing to validate that it's faster.  Anecdotally, @tdiepenbrock has already reported that in his testing  with this change it's 3ms to create a DatabaseClient vs

[2017-07-19 22:53] vivekmuniyandi commented on #701
To test, please have a quick look at the code and run it. Please let me know if you have any concerns. THanks.

[2017-07-20 15:15] sammefford commented on #779
@rjrudin, are you able to share code?

[2017-07-20 16:17] sammefford opened #780 "Second try silently fails when unauthorized"
When Digest Auth is required on certain requests, the payload is lost.  This may not normally happen since OkHttpServices will send a ping on the first request if the payload isn't resendable.  However, when something goes awry, I believe we should throw an error rather than silently send an empty payload.  Here's an example of what happens when we inadvertently have to re-auth the request.  Notic

[2017-07-20 21:22] xmlking commented on #769
Thanks. it was my misunderstanding on how   `replaceFragment` `InsertFragment` works. now my issue is solved.

[2017-07-20 21:30] xmlking opened #781 "client-side load balance multiple MarkLogic hosts"
is there any way I can pass multiple hosts when I create new client, to client-side load balance between multiple MarkLogic hosts?

[code]

[2017-07-20 21:45] sammefford commented on #781
Not for general operations.  If it did, there would of course be some things to consider: it would reduce the benefits of server-side caching, you'd need to keep any transactions on a single host, and you'd need to only talk to e-nodes (hosts with the REST server configured).  Nevertheless, MarkLogic Server is **very** efficient at server-side load-balancing even when all requests go to one host.

[2017-07-21 00:33] jmakeig opened #782 "Add SUPPORT file"
https://help.github.com/articles/adding-support-resources-to-your-project/

Content TBD.

[2017-07-21 15:42] rjrudin commented on #779
Here's most of the code, just not in compilable form - that would take a bit more work. I can always Webex-demo this too.

## Code for creating a ContentSource

https://github.com/marklogic-community/ml-javaclient-util/blob/master/src/main/java/com/marklogic/xcc/template/XccTemplate.java . This is a Spring-style Template/Callback setup so that the Callback implementation doesn't have to worry abou

[2017-07-21 23:55] sammefford commented on #770
The fix I submitted was accepted and pushed to jcenter as okhttp-digest version 1.14.  So I've update our pom.xml to use that.

[2017-07-22 00:00] sammefford commented on #766
Let's note that xdmp:login supports only role-based "static" authorization.  Some requirements demand "dynamic" authorization or rules that cannot be represented as roles.  This includes rules like "can only read this file during business hours".

[2017-07-22 00:02] sammefford commented on #766
Let's note that if we're not using SAML but instead allowing the application to assert the roles, that could undermine the security of the database unless the database is requiring a reasonably secure authentication mechanism for the application, such as client-SSL-cert or Kerberos.

[2017-07-24 15:32] tdiepenbrock commented on #766
Also let’s keep in mind that we never deploy marklogic into a secure environment without evaluating the security of the entire architecture.  The idea is that the overall architecture is secure, so that we can guarantee in the architecture that only trusted applications can connect to marklogic.  MarkLogic is rarely asked to provide the entire security solution.  However, that shouldn’t detract fr

[2017-07-25 17:21] sammefford opened #783 "Cannot stream when retrieving metadata"
The following demonstrates that a large file fails to stream when metadata is also retrieved:

		XMLDocumentManager documentManager = client.newXMLDocumentManager();
		Transaction transaction = client.openTransaction();
		InputStreamHandle handle = new InputStreamHandle();
		DocumentMetadataHandle metadataHandle = new DocumentMetadataHandle();
		documentManager.writeAs("all_well.xml", new FileHand

[2017-07-25 17:24] sammefford commented on #783
This is closely related to #725

[2017-07-25 18:25] xmlking commented on #781
Thanks @sammefford  for the information on `Data Movement API`. I will explore it.
My usecase is to ingest  ~200M  300k size json files into 3 mid size marklogic nodes.
With `java-client-api` and `Apache Spark` (which should be running on multiple client nodes)  I am getting 1500 TPS.   I am using WriteSet for 50. looking for advice on improving MarkLogic write performance.

[2017-07-25 18:37] sammefford commented on #783
This was discovered from this SO post: https://stackoverflow.com/questions/45302832/read-and-write-using-documentmetadatahandle-and-inputstreamhandle

[2017-07-25 18:42] sammefford commented on #783
As reported on SO, this was on the 3.0.7 release.  The 3.0.8 release (OkHttp replacement) appears to have resolved this issue.

[2017-07-25 20:44] sammefford commented on #781
Those are some very large files!  What do you mean by TPS?  If that's docs/sec, then that seems like a good number given the size of your files.  Are you able to share your code?

It's hard to give tuning advice, knowing so little about your setup.  The WriteSet size of 50 might be ideal, but it just takes trial and error on different batch sizes to know what's best for your content.  When testing

[2017-07-26 15:00] sammefford commented on #470
I've incorporated a stress test for this.  I had to make a fix, but now it's working well.

[2017-07-27 03:11] vivekmuniyandi opened #784 "Support HTTPS with Okhttp"
Add HTTPS support with OKhttp. We have to set the SSLContext and the Trustmanager to the client in order to support HTTPS connections.

[2017-07-27 03:42] vivekmuniyandi commented on #784
Added new newClient methods and deprecated other newClient methods to include the TrustManager object as well.

public DatabaseClient newClient(String host, int port, String user, String password, Authentication type, SSLContext context, TrustManager trustManager)

public DatabaseClient newClient(String host, int port, String database, String user, String password, Authentication type, SSLContext

[2017-07-27 03:44] vivekmuniyandi opened #785 "Support HTTPS with OKhttp"
Add HTTPS support with OKhttp. We have to set the SSLContext and the Trustmanager to the client in order to support HTTPS connections.

[2017-07-27 14:28] sammefford commented on #784
I didn't think about needing all these new methods on the 3.x branch since we don't have *AuthContext objects.  Can we live without TrustManager on the 3.x branch?  It seems like we really only want for the future, but we don't anticipate more releases on the 3.x branch...

[2017-07-27 14:41] sammefford commented on #785
It's probably worth clarifying that for the old (now deprecated) calls, we will use the deprecated OkHttp call sslSocketFactory(SSLSocketFactory sslSocketFactory) which says "SSLSocketFactory does not expose its X509TrustManager, which is a field that OkHttp needs to build a clean certificate chain. This method instead must use reflection to extract the trust manager. Applications should prefer to

[2017-07-27 15:15] kcoleman-marklogic commented on #785
When you guys sort all this out (for both 3.0-8 and 4.0-2), please create at least one doc task that summarizes the user visible changes, including any newly deprecated methods. This needs to be release noted.

[2017-07-27 16:22] sammefford opened #786 "Document change to withSSLContext method"
We'll be deprecating *AuthContext.withSSLContext(SSLContext) and replacing it with *AuthContext.withSSLContext(SSLContext, X509TrustManager) so the HTTP client can have direct access to the TrustManager without resorting to a fragile reflection approach.  As always, the deprecated method will continue to work until the next major release.

[2017-07-27 16:23] sammefford commented on #785
Thanks for the reminder, Kim.  I created https://github.com/marklogic/java-client-api/issues/786

[2017-07-27 23:09] georgeajit commented on #737
Both functional and Stress Tests are working with OKHttp library.

[2017-07-27 23:11] georgeajit commented on #762
Test works fine now.

[2017-07-28 20:04] #745 closed

[2017-07-28 21:37] sammefford opened #787 "Support advancing LSQT"
This new functionality has been added to the REST API, so we can add it to the clients.

[2017-07-31 22:51] georgeajit opened #788 "Verify method returns incorrect CN and empty SAN when cert contains both of them."
A certificate with CN=foo.com and SAN=FQDN of a MarkLogic server was used as a template on a REST App server.

A ```SSLHostnameVerifier``` with ```verify``` method implemented was passed into ```DatabaseClientFactory``` to obtain a ```DatabaseClient```.

The ```DatabaseClient```'s host argument is the FQDN value of the server. An attempt to write a document using ```TextDocumentManager``` is done.

[2017-08-01 18:00] sammefford commented on #779
I must be doing something wrong.  My XCC implementation is taking 2 1/2 - 4 mins, whereas my DMSDK implementation is taking 25 - 27 seconds.  Here's the code:

[code]

[code]

[2017-08-01 18:04] sammefford commented on #779
Here's an excerpt from the XCC logging:

[code]

[2017-08-01 19:35] sammefford commented on #779
Ok, it turns out the 4-5 minutes was the actual time for the Issue779Xcc to run from my machine over VPN to the ML cluster.  The only reason I was seeing anywhere near 2 mins was I cut it short with these two lines:

    executor.awaitTermination(2, TimeUnit.MINUTES);
    executor.shutdownNow();

But when I run the same code from a machine on a local network to the ML cluster, the time drops to 7.

[2017-08-02 01:21] srinathgit commented on #744
This issue still occurs. [Thread dump](https://github.com/marklogic/java-client-api/files/1192382/jstack.txt) and [client-log](https://github.com/marklogic/java-client-api/files/1192385/output.txt) are attached

Test:

[code]

[2017-08-02 13:48] rjrudin commented on #779
I'm actually pooling ContentSource objects too - one per host - and a Session is used to insert N documents and then discarded. I haven't looked into the internals of XCC to understand the tradeoffs of keeping a Session open for a long time. But it doesn't appear to matter since you got similar results.

[2017-08-02 16:24] vivekmuniyandi commented on #788
This is not actually a bug. On deeper dive, even after associating the certificate with the template using pki:insert-host-certificate, Marklogic server chooses to send the default certificate signed by the default CA which gets created when we create the certificate template.

When discussed this with Arthur, he said the behaviour might be because the common name was foo.com and not the actual ho

[2017-08-02 21:14] georgeajit commented on #784
The OKHttp tests work with existing methods .

[2017-08-02 21:16] georgeajit commented on #772
Functional tests written. Need manual intervention to setup MarkLogic Cerificate Authority, template and changes to REST App Server settings.

[2017-08-02 21:41] vivekmuniyandi opened #789 "Edit the JDBC queries in examples in order to make it simple"
While porting to HSQLDB, we have written queries to handle HSQLDB and MYSQL db separately as the syntax changes. Clean up the code like inserting new tables rather than trying to update it which causes syntax differences.

[2017-08-02 22:31] jmakeig commented on #789
Standards for the win!

[2017-08-02 23:48] georgeajit opened #790 "With a wild card certificate installed and using localhost in DatabaseClient, docs are written"
1) Use a wildcard certificate signed by an external entity, where ```CN=*.marklogic.com```
2) Setup a template in MarkLogic  Admin to use this certificate.
3) Setup a REST Server to use the template and set the SSL Host Name field to be ```*.marklogic.com``` on the App Server settings page.
4) In a JUnit test code, setup a ```SSLContext``` and implement a ```SSLHostnameVerifier```.

Now the follow

[2017-08-03 21:35] vivekmuniyandi commented on #785
public void connect(String host, int port, String database, String user, String password, Authentication type, SSLContext context, X509TrustManager trustManager, SSLHostnameVerifier verifier)

The old connect method is deprecated and is replaced with the above connect method which includes the X509TrustManager object as well.

SecurityAuthContext withSSLContext(SSLContext context, X509TrustManager

[2017-08-03 22:01] vivekmuniyandi commented on #790
I think this is correct behaviour. The connection should go through. Since we give a TrustManager which trusts all the certificates, the TrustManager on the client would trust all the certificates. And since we are specifying a custom verifier, it is the responsibility of the developer developing the custom verifier to throw an SSLException if the the host name is not acceptable.

This is the java

[2017-08-03 23:52] vivekmuniyandi opened #791 "testSSLAuth fails with null pointer exception"
This is with respect to the Okhttp change and the mock class throws a null pointer exception

[2017-08-03 23:53] vivekmuniyandi opened #792 "testSSLAuth fails with null pointer exception"
This is with respect to the Okhttp change and the mock class throws a null pointer exception

[2017-08-04 14:28] erinmiller commented on #779
Hi Rob and Sam--
Can you share the versions of DMSDK and XCC that you are running? Thanks.

[2017-08-04 14:48] sammefford commented on #779
DMSDK  version is Java Client API 4.0.1
XCC version is 9.0.2

[2017-08-04 15:26] sammefford commented on #779
Here are some interesting things I've observed through my testing.  I don't have any conclusions yet, just observations:

For both Issue779Xcc and Issue779DMSDK
I changed # docs written to 100,000
num client threads to 64

Baseline (avg of 4 runs) for Issue779Xcc: 11.1555s
Baseline (avg of 4 runs) for Issue779DMSDK: 13.0805 (17% slower than Xcc)

When I wipe out all REST logic in Modules/MarkLogic

[2017-08-04 15:34] sammefford commented on #779
Side note: when I set Xcc threads to 32, avg drops to 12.73575s.  When I set Xcc threads to 16, avg drops to 17.87825s.  For DMSDK changing # threads 16 didn't seem to affect the timings.

[2017-08-04 16:50] sammefford opened #793 "Configuration cannot be changed after starting this job or calling add or addAs"
When I try to run the DMSDK code for #779 against develop branch, I get the error "Configuration cannot be changed after starting this job or calling add or addAs".  I see this stack trace embedded as a warning in the output:

07:53:59.050 [pool-1-thread-7] DEBUG c.m.client.impl.OkHttpServices - Posting documents
07:53:59.050 [pool-1-thread-7] DEBUG c.m.client.impl.OkHttpServices - Sending multipa

[2017-08-04 17:18] georgeajit commented on #790
Agree with Vivek's comments.

[2017-08-04 17:48] sammefford commented on #793
It's clear to me now that the code in #779 was poorly constructed.  I shouldn't have been calling addAs before startJob.  But since that didn't cause errors for 4.0.1, no need to make it cause errors for 4.0.2.

[2017-08-04 18:02] sammefford commented on #779
I tried with the develop branch (with OkHttp instead of Jersey) and I got an avg of 12.74675s (14% slower than XCC).  When I once again strip the REST impl down to do nothing (so I can measure just the Java side and rewriter/Xquery init side) I got an avg of 3.237s (33% faster than the  4.3274s time we got with Jersey in the 4.0.1 version).

[2017-08-04 19:16] erinmiller commented on #779
Sam—
This is all great info. I am already drawing some conclusions myself, but I’d like to repro your results on the perf environment and do some profiling. I’m most interested/surprised by the properties insert taking so much time.

Is the code that you’re running now exactly the same as the code in issue 779?  If so, I’ll start playing with it as well.

Thanks—
Erin

From: Sam Mefford <notificat

[2017-08-04 19:48] sammefford commented on #779
Yes.  I made one small tweak to the code due to #793.  But the code here includes that fix.

[2017-08-04 19:50] rjrudin commented on #779
We're on version 8.0.4 of XCC, and when I tried DMSDK, it was 4.0.1. I'm going to bump up our XCC version, as we're on ML 9.0-1.1 (haven't had a chance to go to 9.0-2 yet).

[2017-08-04 20:16] sammefford commented on #779
FWIW, I did much of my testing with version 8.0.5 of XCC, and the avg was 11.1s, so roughly equivalent.

[2017-08-04 20:23] sammefford commented on #779
One big thing I'm noticing in my testing is that things go into the database much faster the first time.  This is probably expected behavior since the first time there's no existing document that needs to be locked.  But as I mentioned above, all my tests would probably run faster if I added a random to the uris so everything is going in for the first time.  I just didn't see that as the most impo

[2017-08-04 20:27] erinmiller commented on #779
Are you inserting over existing URIs? Essentially a document update? If so, it’s not locking that’s the issue, it’s the fact that the existing fragment must be marked for deletion and the new fragment inserted. The deleted fragments are cleaned up via merge, which means merge has more work to do.

From: Sam Mefford <notifications@github.com<mailto:notifications@github.com>>
Reply-To: marklogic/jav

[2017-08-04 20:41] sammefford commented on #779
Yes, we're inserting over existing uris, essentially a document update.  I figure that's a common scenario for data movement applications.

Thanks for the clarification that it's marking for deletion not locking that's the issue.  Am I correct to assume that merge should be largely independent of the timings we're seeing?

[2017-08-04 20:56] erinmiller commented on #779
Well, merge may or may not be independent. If you’re doing big merge writes, you may see response times dip if you have an IO bottleneck, so more merges can definitely impact performance on IO constrained systems.

From: Sam Mefford <notifications@github.com<mailto:notifications@github.com>>
Reply-To: marklogic/java-client-api <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, A

[2017-08-08 23:48] sammefford opened #794 "InterruptedException causing error with properties"
I got the following error with the following code (from #779).  The reason I log this against 3.0.8 is because while we don't have DMSDK in 3.0.8, some customers might be writing properties in a multithreaded env.  And it appears that writing properties is interacting poorly with OkHttp.  What I mean is it appears Okio throws InterruptedException and the com.sun.xml.internal.stream.writers.XMLStre

[2017-08-08 23:48] sammefford commented on #794
@georgeajit do you think you could use ExecutorService to have many threads write docs with properties metadata to reproduce this in 3.0.8 env?

[2017-08-10 02:00] georgeajit commented on #794
Was able to reproduce the issue with 8.0 MarKLogic Server (nightly build) and 3.0-develop for 3.0.8 release.
Here is the stack trace:
[code]

[2017-08-10 02:06] georgeajit commented on #794
Using the ```testMultithreadingMultipleSearch()``` method in Eclipse, above exceptions are thrown.
Note: The intension was to reproduce the same exception as seen in ```develop``` and the code below can be enhanced if needed.
[code]

and

[code]

[2017-08-10 02:08] georgeajit commented on #794
@sammefford Until further notice, I consider this to be sufficient for you. Please let me know.  I ran the test a couple of times. Every time I got the same exception.

[2017-08-10 17:24] georgeajit commented on #794
Without the interrupt, I am not able to to reproduce it. Will keep trying.

[2017-08-10 17:49] georgeajit commented on #794
Plan to test writing docs in one thread and updating meta data in another.

[2017-08-14 15:41] georgeajit commented on #794
Tried out the following cases multiple times. None of them reproduce the issue.
1) Write docs in one thread and then update in another; both run parallel. Test fails due to absence of docs during property update.

2) Increased the document count. Write docs and properties in same thread. Test runs fine. Tried with multiple counts and various thread counts.

3) Run the code, posted in the first com

[2017-08-14 16:33] georgeajit commented on #770
have been able to run Stress tests with OKHttp on 8.0 nightly servers for 3.0.8 release.

[2017-08-14 17:51] georgeajit commented on #783
Verified on nightly regression and Jenkins servers. Test ```testStack20170725``` in ```com.marklogic.client.test.DocumentMetadataHandleTest``` class runs fine and has passed.

[2017-08-14 20:11] georgeajit commented on #764
These tests are running fine now. Verified on regression status page on 08/14/2017.

[2017-08-14 20:14] georgeajit commented on #299
@kcoleman-marklogic
Any update on this?

[2017-08-15 15:13] sammefford commented on #794
Looks like this is related to #646 , since I was mistakenly using one DocumentMetadataHandle across many threads (via DMSDK).  I'm seeing now that I was seeing several other errors because of that.  When I move DocumentMetadataHandle inside the for loop so it's no longer a shared instance, the errors disappear.

[code]

[code]

[code]

[code]

[2017-08-15 15:28] sammefford commented on #794
I'm going to call this a red herring.  Since Ajit can't reproduce the bug and I can't without misusing DocumentMetadataHandle, I can't say this is really a bug.

[2017-08-15 23:24] jmakeig commented on #770
Smells like progress. Thanks, all.

[2017-08-16 20:45] sammefford commented on #779
In order to build my classes above, I used the following maven pom.xml:

[code]

And I ran the tests with the following commands:

    mvn compile exec:java -Dexec.cleanupDaemonThreads=false -Dexec.mainClass="Issue779DMSDK"
    mvn compile exec:java -Dexec.cleanupDaemonThreads=false -Dexec.mainClass="Issue779Xcc"

[2017-08-16 20:46] sammefford commented on #779
In order to use `<version>5.0-SNAPSHOT</version>` of marklogic-client-api, I had to clone the develop branch and run this command:

    mvn -Dmaven.test.skip -Dmaven.javadoc.skip install

[2017-08-16 21:04] erinmiller commented on #779
Ok, I just ran this on our performance hardware and I'm not able to reproduce--in fact, on the perf hardware, the DMSDK is faster (3073 seconds for DMSDK versus 4356 for XCC). So I suspect that there's something fundamentally different about how the DMSDK uses resources that exposes a bottleneck differently on different hardware.

Sam, can I take a look at the environment where you're able to repr

[2017-08-16 21:19] sammefford commented on #779
How many documents did you insert?  3073 seconds is a lot more than the 13 seconds I was seeing for 100,000 docs!

[2017-08-16 22:27] erinmiller commented on #779
Offline, Sam and I had a convo about the number of docs inserted, number of threads, etc. I think I've reproduced the problem at this point and I'm going to debug further on our hardware.

[2017-08-17 15:24] sammefford commented on #786
Here's another change I don't see any bug filed for. We'll be deprecating HttpClientConfigurator and publishing OkHttpClientConfigurator as a replacement.  That's because HttpClientConfigurator was tied to Apache HttpClient which we no longer ship or use.  If people keep using it, nothing should break but it will never be called.  That is as we've always stated in the javadocs.  The same will happ

[2017-08-17 19:04] sammefford commented on #793
Ajit, to duplicate, see the unit test in the commit.  I'm validating that it's still ok to call add or addAs before startJob

[2017-08-17 19:51] sammefford commented on #777
Ajit, all we need for testing this is to see that these unit tests now pass.

[2017-08-17 20:44] sammefford commented on #778
@tdiepenbrock can you confirm that you didn't get any error when you ran `mvn exec:java@test-server-init`?  And you didn't change Common.java?  In other words, were you connecting to localhost port 8012?  And was the server left as normal with Digest auth?

[2017-08-17 20:45] sammefford commented on #778
I ask because I don't know how to duplicate this.  When I follow the same steps I don't see the same errors

[2017-08-17 20:47] sammefford commented on #778
Sorry, let me acknowledge that I haven't yet tried to fully duplicate your env.  I'd just be very surprised if this is env related . . . plus I don't have easy access to MacOS.

[2017-08-18 14:01] sammefford commented on #446
I'm guessing that the 5 minutes to clear the one binary doc is because it's left open by this read request.  This probably has to timeout before the server can delete the doc.

       long sizeOfBinary =docMgr.read("/binary4mbdoc",new InputStreamHandle()).getByteLength();

This should look like this:

    long sizeOfBinary;
    try ( InputStreamHandle doc =docMgr.read("/binary4mbdoc",new InputStre

[2017-08-18 22:15] georgeajit commented on #65
Ran tests with OKHttp in 5.0-SNAPSHOT.jar. The tests run fine. Used MarkLogic Server build 0801 due to REST layer issues in the server side.

[2017-08-21 16:30] andreas-hu commented on #775
I've run into that bug as well and can confirm it. The workaround is usable.

[2017-08-21 18:42] sammefford opened #795 "Document that everyone needs to now use jcenter"
Since we now depend on okhttp-digest which is only available via jcenter (not maven central), we need to update dev.marklogic.com, and everywhere else we teach people how to include java-client-api into their maven or gradle project.  They'll need to add the jcenter repository in addition to the marklogic-client-api dependency.

[2017-08-21 18:49] sammefford commented on #769
@xmlking can you try out 3.0.8 and confirm that it still works for you?

[2017-08-21 18:52] sammefford commented on #795
For maven users we need to say:

Add this repository to your pom.xml repostories section:

		<repository>
			<id>jcenter</id>
			<url>http://jcenter.bintray.com</url>
		</repository>

[2017-08-21 18:52] sammefford commented on #795
For gradle users we need to say:

Use gradle 1.7+ and add this to your build.gradle repositories section:

    jcenter()

[2017-08-21 20:02] vivekmuniyandi commented on #577
From what I understand here is, after the second node is brought down, the forest goes to a disabled state even though it is configured for failover. And it doesn't fail over. We indeed shut down the threadpool and all queued tasks but this process hangs because the request sent to the REST layer takes a long time to return. It does indeed exit after we get the reply from the REST layer but it tak

[2017-08-21 21:36] georgeajit commented on #777
Verified with MarkLogic Server build 20170821 with 5.0-SNAPSHOT (develop) branch. The test passes on local Linux box.

[2017-08-21 21:57] sammefford commented on #446
For now I'm going to assign back to you to see if that resolves the issue.

[2017-08-21 22:25] georgeajit commented on #791
Tested on MarkLogic Build 20170821 build. The test passes.

[2017-08-21 22:34] georgeajit commented on #611
This test does not fail when run locally on the Linux box using ```mvn test``` command.  Shipping this issue for the time being because this is now an test order issue.

[2017-08-21 23:25] sammefford opened #796 "Windows can't handle unix paths in examples"
BulkExportOpticResults.java and BulkExportOpticResultsToWriterTest.java reference /tmp/opticExampleOutput.txt but that's a path that doesn't work on windows.  Could you use File.createTempFile or System.getProperty("java.io.tmpdir") instead?

This causes the corresponding unit tests to fail for me on windows.

[2017-08-21 23:30] sammefford commented on #795
Kim, could you add a release note about this?

[2017-08-22 00:32] xmlking commented on #769
Upgraded to 3.0.8 and all tests passed. Thanks

Test Script:
[code]

[2017-08-22 14:27] sammefford commented on #769
Thanks @xmlking !

[2017-08-22 14:27] #769 closed

[2017-08-22 17:10] georgeajit commented on #792
On non-SSL days, I see that the test fails on the Assert. JUnit test case report is below:
[code]

[2017-08-22 22:04] georgeajit opened #797 "Write tests to handle negative / exception conditions for Kerberos"
Enhance existing Kerberos test to have newer tests that handle negative test cases and verify the error / exception messages.

[2017-08-22 22:46] vivekmuniyandi opened #798 "Write batcher jobs goes into an infinite loop"
[code]

This is run on a 3 node cluster. Bring 2 nodes down simultaneously and since the minHosts is set to 2, the batcher fails but the process keeps trying on and on in processFailure. Need to add a check if the batcher is stopped and if it is stopped, we need to return false in processException of HostAvailabilityListener.

[2017-08-23 18:39] kcoleman-marklogic commented on #786
Here are the release notes I added. Assigning to you for review, Sam.

**Deprecation**:

**Incompat**:

[2017-08-23 19:01] kcoleman-marklogic commented on #747
Looks good. Thanks.

[2017-08-23 19:15] sammefford commented on #786
Those look great to me!

[2017-08-24 15:50] sammefford opened #799 "QA Regression svn has outdated jar files"
Ajit, can you update this with the corrected details about what's happening to prevent the regression runs from working properly?  I'd like this issue described in github to explain why we are pushing the release date.

[2017-08-24 17:48] sammefford opened #800 "TransformTest failing with Invalid coercion error"
testXQueryRestTransformAdapter(com.marklogic.client.test.TransformTest)  Time elapsed: 2.715 sec  <<< ERROR!
com.marklogic.client.FailedRequestException: Local message: read failed: Internal Server Error. Server Message: XDMP-AS: (err:XPTY0004) $service($context, $service-params, $input) -- Invalid coercion: map:map(<map:map xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/

[2017-08-24 17:52] sammefford commented on #800
It turns out the fix for REST bug #46692 changed Modules/MarkLogic/rest-api/lib/extensions-util.xqy function apply-transform to no longer return document-node() but to now return a map:map with a property "result" which is a sequence of document-node().  I updated RestTransformAdapter.xqy to expect this new return from apply-transform.

[2017-08-24 17:53] sammefford commented on #800
Ajit, if the TransformTest now passes, then we're golden for this issue.

[2017-08-24 22:02] sammefford opened #801 "Need to close JDBC connections"
[Line 72](https://github.com/marklogic/java-client-api/blob/8a3f4f9012ac7eacbb303b6c87d577fae63e49a3/src/main/java/com/marklogic/client/example/cookbook/datamovement/BulkLoadFromJdbcWithJoins.java#L72) of BulkLoadFromJdbcWithJoins calls getConnection without closing the connection.  This creates a resource leak.  Can you call the close() method on that connection?

[2017-08-24 23:26] sammefford opened #802 "TransformTest is printing a warning about StringQueryDefinitionImpl"
I'm seeing this intermittently in the logging output from TransformTest.   I need to check and see if it it's a valid issue or something that might affect others.

17:19:35.181 [main] WARN  c.m.client.impl.OkHttpServices - unsupported query definition: com.marklogic.client.impl.StringQueryDefinitionImpl

[2017-08-24 23:38] kcoleman-marklogic commented on #299
PDF sent to Sam for review. If you would also like to review it, Ajit, please let me know.

[2017-08-25 00:51] georgeajit commented on #800
Ran the test on MarkLogic Server build 20170824 with develop (5.0-SNAPSHOT.jar). The test passes.
[code]

[2017-08-25 00:54] vivekmuniyandi commented on #789
Please make sure if the tests run fine. Thanks.

[2017-08-25 01:15] georgeajit commented on #799
QA nightly regression tests use a previously built Jar file. This Jar file is built every night and copied into MarkLogic SVN QA repository into the ```lib``` folder.

For the 9.0-3 MarkLogic release, with Java Client API on develop branch (5.0-SNAPSHOT), we have an issue with build script that builds and checks the Jar file into SVN.

The nightly regression runs for Java Client API tests started

[2017-08-25 06:30] georgeajit commented on #701
The test ran fine.

[2017-08-25 16:31] sammefford commented on #796
Vivek, looks like we need another directory divider.  I see this error in last night's build:

    java.io.FileNotFoundException: /tmpopticExampleOutput.txt (Permission denied)

http://jenkins.marklogic.com/job/JavaAPIUnitTest_develop_xdmp-trunk/lastBuild/testReport/com.marklogic.client.test.example.cookbook/BulkExportOpticResultsToWriterTest/testMain/

[2017-08-25 16:32] sammefford commented on #801
Vivek, could you use try-with-resources or a try & do the close in a finally block?

[2017-08-25 19:25] vivekmuniyandi commented on #796
Strange.. In mac, it got me the '/' at the end and that's why I removed the extra '/' at the end. No offense adding an extra '/' at the end. Will do. Thanks for catching this.

[2017-08-25 20:07] sammefford opened #803 "Bootstrapper needs to share the errors"
When I ran this:

    sh src/test/resources/boot-test-cygwin.sh

I got this error:

Exception in thread "main" java.lang.RuntimeException: Failed to create REST server using host=engrlab-129-192.engrlab.marklogic.com and port=8002: 400 Bad Request
Please check the server log for detail
        at com.marklogic.client.example.util.Bootstrapper.makeServer(Bootstrapper.java:172)
        at com.marklo

[2017-08-25 22:14] sammefford opened #804 "SearchFacetTest failing with XDMP-BOUNDS"
I get the following test error:

com.marklogic.client.FailedRequestException: Local message: search failed: Internal Server Error. Server Message: XDMP-BOUNDS: cts:value-ranges(cts:element-attribute-reference(fn:QName("http://nwalsh.com/ns/photolib","view"),fn:QName("","date"),("type=date")), (xs:date("2017-08-25"), xs:date("2017-08-24"), xs:date("2017-08-25")), "concurrent", cts:word-query("Grand

[2017-08-25 22:20] sammefford commented on #804
Ajit, we're good on this as long as the unit test passes

[2017-08-25 23:36] sammefford commented on #794
I just fixed every instance of reusing DocumentMetadataHandle in WriteBatcherTest.  Yet I see this error repeatedly.  So I'm reopening to investigate.

[2017-08-26 01:27] georgeajit opened #805 "Too many files Issue with OKHttp"
In the following test, we are adding documents using `WriteBatcher`, with multiple Threads. The ulimit value on the server has been set to 20,000 for both soft and hard limits. We see that the file descriptors are not getting released after document writes and they increase upto the ulimit value set on the server. The test eventually fails to write additional documents and throws the following exc

[2017-08-28 17:07] georgeajit commented on #804
Verified on 08/28/2017 with ```develop``` branch (```5.0-SNAPSHOT```) on MarkLogic Server build 20170828. The test passed.

[2017-08-28 17:14] georgeajit commented on #799
Assigned to Shiva to provide simpilfied script and resolution to the issue.

[2017-08-28 18:11] vivekmuniyandi commented on #796
Checked with Ajit and it passes in Linux.

[2017-08-28 18:41] georgeajit commented on #796
Tested on Windows (through cygwin) and on Linux platforms. Used ```develop``` branch (```5.0-SNAPSHOT.jar```) on MarkLogic Server build 20170828.

Used  ```mvn test``` on both platforms to run the tests.

[2017-08-28 18:56] georgeajit commented on #789
The tests run fine on Windows and Linux.

[2017-08-28 19:01] georgeajit commented on #765
The test passed after renaming.

```testsuite name="com.marklogic.client.test.example.cookbook.JdbcCookbookTest" time="12.055" tests="1" errors="0" skipped="0" failures="0"```

[2017-08-28 20:11] georgeajit commented on #793
Modified an existing test that had
[code]
to
[code]
The test runs fine. Tested with ```develop``` (```5.0-SNAPSHOT.jar```) on MarkLogic Server build 20170828 using Eclipse IDE on Windows.

[2017-08-28 20:14] georgeajit commented on #701
Added milestone to sync with internal bug tracking system.

[2017-08-28 20:57] georgeajit commented on #776
Existing test ```TestDatabaseClientWithKerberos``` was used to verify with OKHttp. Security was enabled with changes to test.properties on the Java Client API side and a SSL enabled REST server was used. Tests ran fine.

[2017-08-29 17:57] georgeajit commented on #805
Ran the test on a single node environment with MarkLogic Server Build 20170828. The test passed. Verified the nightly regression status page on 08/29/2017. The issue does not reproduce after the fix. Both platforms verified were Linux.

[2017-08-29 21:30] vivekmuniyandi commented on #709
This issue is probably an old one and is not happening anymore. I did the following and couldn't replicate

Set up a cluster with 3 nodes in it and had one forest in each node
1. I disabled one of the forest and the database goes to an unavailable state. When I start a writebatcher, I get a failed request exception while hitting forestinfo end point saying that this forest is disabled.

2. I made

[2017-08-30 22:50] georgeajit commented on #446
The test ran without exceptions. The follow on tests also ran fine. Will monitor regression.

[2017-08-31 16:56] georgeajit commented on #785
Turned on SSL on nightly regression runs. With naive TructManager (trust all certificates on the client side), the tests are running fine.

[2017-08-31 17:00] georgeajit commented on #785
Identifying and adding CA root certificate to Java home.../security/cacerts, used by MarkLogic QA is ongoing. Will update as and when more information is received.

Plan is to have code that closely matches what customers should be and will be using.

[2017-08-31 20:03] sammefford commented on #781
@xmlking are you still looking for help with this?  If not, I'll close.

[2017-08-31 20:18] sammefford commented on #746
I wonder if this is related to #504.  @lcahlander have you continued to experience this?  If so, are you able to [share enough code that I could isolate](https://stackoverflow.com/help/mcve) this?  If I can reproduce this it will be easier to fix.

[2017-08-31 20:37] sammefford commented on #596
@paxtonhare  is this resolved by #752 and #690?

[2017-08-31 22:17] sammefford commented on #441
Related to #646

[2017-08-31 22:32] sammefford commented on #21
We already included most of these

[2017-08-31 22:32] #21 closed

[2017-09-01 02:55] xmlking commented on #781
No. Thanks.

[2017-09-01 02:55] #781 closed

[2017-09-01 17:48] sammefford commented on #596
can't you call `dataMovementManager.stopJob(dataMovementManager.getActiveJob(jobId))`?

[2017-09-01 19:01] #95 closed

[2017-09-01 19:02] sammefford commented on #95
We're no longer making enhancements to the 2.x branch.

[2017-09-01 19:04] sammefford commented on #111
Related to #60

[2017-09-01 19:05] #134 closed

[2017-09-01 19:07] sammefford commented on #134
Since this made it into the release, it might break applications to change it now.  It seems reasonable that if you can read a POJO by id with no errors, there's no reason we need to prevent that because it's missing the expected collection.

[2017-09-01 20:39] sammefford commented on #183
When we fix this, just make sure we also check that #237 is fixed.

[2017-09-01 21:05] sammefford commented on #411
This is no longer necessary since we've decoupled DatabaseClient from the http connection pool in 3.0.8 and 4.0.2 https://github.com/marklogic/java-client-api/issues/470

[2017-09-01 21:05] #411 closed

[2017-09-05 18:44] sammefford opened #806 "Unit test retry properties"
We have two properties that can influence retry behavior in Java Client API:

com.marklogic.client.maximumRetrySeconds
com.marklogic.client.minimumRetries

AFAIK, they aren't documented.  But in a support case a customer asked so I told them about the properties.  We need some unit tests or similar to verify these work as expected.

[2017-09-06 00:05] srinathgit opened #807 "Check for minHosts > Available hosts in HostAvailabilityListener"
We don't do any checks if minHosts > Available hosts in cluster . I am not sure if we have to do that check. But, I am opening this bug just in case if we choose to do it.

This HostAvailabilityListener is created even though the server is a single node instance
[code]

[2017-09-06 00:22] georgeajit commented on #773
The following test is used to test manually:
[code]

[2017-09-06 00:24] georgeajit commented on #773
[hpzbook-3884.zip](https://github.com/marklogic/java-client-api/files/1279356/hpzbook-3884.zip)

A zip of files containing the certificates generated using SafeNet Security GUI. Each test method has the file name used.

[2017-09-06 00:29] georgeajit commented on #773
XQuery code used to associate a MarkLogic security template with crt files is as follows. Run it against ```security``` database.

[code]

Please select in the Admin GUI for REST App Server, ```ssl  host name``` field value as *.marklogic.com, foo.com, FQDN of server etc.

A restart of ML server may be needed.

[2017-09-06 00:30] georgeajit commented on #773
Tested on release-4.0.2 and develop branch with MarkLogic 9.0 nightly server.

[2017-09-06 12:39] ableasdale commented on #806
Based on my testing so far, these settings don't appear to influence the timeout aperture of a request. I set these values and ran the test we discussed yesterday.   I noticed that these values are configured in the JerseyServices class - could these have been broken when you made the move to OkHttp?

[2017-09-06 16:36] vivekmuniyandi commented on #807
The last time I spoke to Sam, he was a bit hesitant about the minHosts functionality and he said it is a functionality that is not so important. Validating this would have to call the forestInfo endpoint and throwing an error if the minHosts is greater than the number of hosts. So, I don't think this is necessary but I will check with Sam if he also feels the same way.

[2017-09-06 16:48] grechaw opened #808 "Replace images in testing folder with ones that are more obviously licensed"
Hi @georgeajit ,

In reviewing our codebases, legal has found some data that should be replaced in any active develop branch.  These are images used in functional testing. Since they are on github, we'd prefer to replace them with images that are explicitly freely available to use.  Since they are just for testing, I assured Zak that it would be pretty straightforward to find new images that are n

[2017-09-06 16:53] vivekmuniyandi commented on #791
i have modified the tests so that it works on both SSL and non SSL days. On SSL days, the connection has to go through and we need to write the document. On Non SSL days, we have to get an exception and that is checked. This would happen if we have the required CA installed in the cacerts in the java home. This runs fine locally. But please make sure if this goes through on SSL days by inserting t

[2017-09-06 18:22] georgeajit commented on #409
Verified the master branch.

[2017-09-06 19:55] zakwhite commented on #808
binary.jpg and Simple_ScanTe.jpg should similarly be removed. Let me know if you have any questions.

[2017-09-06 20:11] georgeajit commented on #808
@zakwhite

Can this be done in next couple of weeks? We have a release on 09-11-2017 and do not want to have false alarms on test failures.

[2017-09-06 20:12] zakwhite commented on #808
@georgeajit, yes that timeline is acceptable. Thanks for checking.

[2017-09-07 01:23] georgeajit commented on #725
I have added the following test.
[code]

[2017-09-07 16:59] sammefford commented on #807
What error do you get when you do this?  I'm guessing it says that the job was stopped because the number of hosts is less than minHosts.  Seems to me that addresses the issue because we're doing what they told us to do and telling them why we did it.

[2017-09-07 17:01] sammefford commented on #806
Yes, they could have been broken. The code is there in OkHttpServices, that's why I told you to try them.  But I don't believe something is working unless we've tested it.  It's clear we need to test this.

[2017-09-07 23:18] sammefford commented on #783
I should note that the error is no longer there, but we're not streaming.  OkHttp doesn't come with multi-part response processing so we had to use javax.mail.internet.MimeMultipart which does not stream.

[2017-09-07 23:19] sammefford commented on #725
As noted in #783 the issue is resolved by OkHttp and our use of javax.mail.internet.MimeMultipart.  Unfortunately that prevents streaming multipart responses, but at least they don't err anymore.

[2017-09-08 18:15] srinathgit commented on #807
Sam,

The issue I mentioned is when creating an instance of HostAvailabilityListener. When instantiating, we don't check if available host > minHosts. We check only when the list of exceptions is thrown during job run.

[2017-09-08 19:57] sammefford commented on #807
Yes.  I think it's fine if we only check when an exception is thrown during the job run.  I think it would be too surprising to users if we were making requests to the server just because they called withMinHosts.  We want our method names to make it clear when we're calling out to the server.  That's why those methods have action names like search, read, write, etc.

[2017-09-08 20:54] sammefford opened #809 "Sort on fitness or confidence"
New capabilities have been added to the search:search and REST API's as part of bugtrack issue 41610.  We need to add equivalent functionality to the Java Client API.

[2017-09-08 21:27] vivekmuniyandi opened #810 "Document about root CA being installed in JVMs cacerts"
Ideally, a TrustManager should be used when creating a client with SSL connection. In our example, we have used the naive TrustManager which accepts all the certificates.

A preferred approach is to only accept certificates signed by a trusted CA (Certificate Authority).  For self-signed certificates that means installing a CA in the client JVM.  Point to some link from Sun page which would explai

[2017-09-08 22:35] georgeajit commented on #768
For Windows (winnt-64-w2k8-cluster) we are testing on Java 1.8 (jdk1.8.0_72)
For Linux (linux-64-rh6-cluster) we are testing on Java 1.7 (jdk1.7.0_79)

[2017-09-08 23:46] grechaw commented on #809
It's some query builder work, indeed.  Note that although the vocabulary now supports these new options, they don't exhibit any different behavior from sorting on score.

[2017-09-09 22:29] sammefford commented on #809
Thanks for the comment, Charles.  But I don't understand.  Shouldn't the values for fitness differ from confidence, and differ from score?  If the values for each result differ, shouldn't sorting on a particular value change the order of the results?

[2017-09-09 23:49] sammefford commented on #641
@georgeajit as long as the tests pass, I think we're good on this

[2017-09-11 16:32] georgeajit commented on #785
Have tested with Naive TrustManager for QA tests. Vivek has tested with self signed certificate, with certificate being in the Java security cacert.

QA imported with existing ```ca.cer``` file into cacert and passed ```null``` into security context to test. But we still get the following exception.
[code]

Also tried to get ```SSLHostnameVerifier``` to verify what was being returned. The verifier

[2017-09-11 16:33] sammefford commented on #768
Kim, here's my attempt at creating something like what mlcp has.

**Supported Platforms**
Java Client API is supported on the same platforms as MarkLogic Server, including 64-bit Linux, 64-bit Windows, and Macintosh OS X. For details, see Supported Platforms in the Installation Guide.

**Required Software**
All versions of the Java Client API require MarkLogic Server with a REST App Server configu

[2017-09-11 16:44] sammefford commented on #785
Some good ideas here: https://stackoverflow.com/questions/6908948/java-sun-security-provider-certpath-suncertpathbuilderexception-unable-to-find

You'll need to first perform an operation that talks to the server, like a documentManager.exists(uri).

[2017-09-11 19:18] vivekmuniyandi opened #811 "OkHttpServices release() method throws null pointer exception"
OkHttpServices release() method throws null pointer exception when called more than once.  In release() method we are doing a shutdown of the executorpool of OkHttpClient but if the OkHttpClient is null, a null pointer exception is thrown. We have to check if the OkHttpClient is null. If it is null, then just return from the method.

[2017-09-11 20:32] ehennum commented on #376
Question:  instead of changing the client CtsQuery builder to emit two serializations, should the /v1/search REST API endpoint just process the AST representation of a cts:query()?

[2017-09-11 21:51] sammefford commented on #756
@georgeajit we'll need tests of the values and tuples endpoints using raw (serialized) cts queries and combined cts queries

[2017-09-12 14:59] sammefford commented on #376
That seems to me to meet the highest priority need.  It would, of course, need to accept the AST representation in a combined query also since that's required to specify facets, values, tuples, etc.  The main limitation I can see is it would probably output only XML which would prevent customers from specifying the rest of their combined query in JSON when combining with this.  But we already have

[2017-09-12 16:12] sammefford commented on #539
I'm thinking the benefit of this convenience is not worth the expanded surface area.  We're realizing there may be more than one listener of the same type, so we'd perhaps need a replaceFirstBatchFailureListener and replaceBatchFailureListeners.  Also, we sometimes would like a getBatchFailureListeners and getFirstBatchFailureListener and all the same methods for onUrisReady listeners.  And of cou

[2017-09-12 16:17] sammefford commented on #539
To change minHosts or suspendTimeForHostUnavailable you can do this:

    HostAvailabilityListener.getInstance(BatchFailureListener[])
        .withSuspendTimeForHostUnavailable(Duration.ofMinutes(60))
        .withMinHosts(2)

[2017-09-12 18:30] kkanthet opened #812 "Investigate publishing java projects to jcenter"
this is a place holder to investigate jcenter and prioritize it.

[2017-09-12 21:28] vivekmuniyandi commented on #556
This looks like a lock issue on the server. I am getting
Local message: failed to apply resource at internal/apply-transform: Internal Server Error. Server Message: SVC-EXTIME: xdmp:lock-for-update("/local/string-2886") -- Time limit exceeded
So I am waiting on Jane's team to come back on this.

[2017-09-12 22:16] popzip commented on #701
Who is the audience for the cookbook example, where is this published/shared/linked?

[2017-09-13 16:37] sammefford commented on #701
@popzip [BulkExportOpticResults.java](https://github.com/marklogic/java-client-api/blob/develop/src/main/java/com/marklogic/client/example/cookbook/datamovement/BulkExportOpticResults.java) is a stand-alone example showing how to use DMSDK to export data from a large Optic query.  Because it is multi-threaded, uses all available e-nodes, and has DMSDK orchestration it can be used to efficiently co

[2017-09-13 16:39] popzip commented on #701
Thanks for the clarification

[2017-09-13 19:45] vivekmuniyandi commented on #755
We have two issues here. I will explain the behavior for each of the issue here.

1. Combined query with XML payload QBE not returning anything
        This is plainly a namespace issue. After changing the payload to

<search:search xmlns:search="http://marklogic.com/appservices/search"><search:qtext>fourth</search:qtext><qbe:query  xmlns:qbe="http://marklogic.com/appservices/querybyexample"><TITL

[2017-09-13 21:44] srinathgit opened #813 "Results missing when 2 forests failover"
In the following test, I have 3 node cluster (rh7v-intel64-90-java-stress-1/2/4.marklogic.com) with a forest on each of the hosts and forests on hosts rh7v-intel64-90-java-stress-2/4.marklogic.com configured to failover to rh7v-intel64-90-java-stress-1.marklogic.com. When Query batcher is executed,  I stop rh7v-intel64-90-java-stress-4.marklogic.com , the forest QBFailover-3  fails over to rh7v-in

[2017-09-13 21:51] sammefford commented on #787
Added two methods to TemporalDocumentManager

[code]

[2017-09-13 22:35] srinathgit opened #814 "URIs missing during failover"
In the following test, I have 3 node cluster (rh7v-intel64-90-java-stress-1/2/4.marklogic.com) with a forest on each of the hosts and forests on hosts rh7v-intel64-90-java-stress-2/4.marklogic.com configured to failover to rh7v-intel64-90-java-stress-1.marklogic.com. When Query batcher is executed, I stop and start rh7v-intel64-90-java-stress-4.marklogic.com  multiple  times (for a duration less t

[2017-09-13 23:56] sammefford commented on #639
Ajit, I added a unit test which tries
1) with only documentManager.setReadTransform
2) with both documentManager.setReadTransform and queryDefinition.setResponseTransform set to the same transform

I haven't tested with documentManager.setReadTransform and queryDefinition.setResponseTransform set to different transforms.  I also didn't test using documentManager.setReadTransform and passing in a S

[2017-09-14 17:45] #763 closed

[2017-09-14 17:45] #788 closed

[2017-09-14 17:45] #790 closed

[2017-09-14 17:45] #470 closed

[2017-09-14 17:45] #737 closed

[2017-09-14 17:45] #758 closed

[2017-09-14 17:45] #759 closed

[2017-09-14 17:45] #760 closed

[2017-09-14 17:45] #761 closed

[2017-09-14 17:45] #762 closed

[2017-09-14 17:45] #770 closed

[2017-09-14 17:45] #771 closed

[2017-09-14 17:45] #772 closed

[2017-09-14 17:45] #783 closed

[2017-09-14 17:45] #784 closed

[2017-09-14 17:55] sammefford commented on #792
@georgeajit could you update the milestone on this since 3.0.8 is already out the door?

[2017-09-14 18:31] sammefford opened #815 "Too many files Issue with OKHttp (clone #805)"
Port the fix for #805 to the 3.x branch

[2017-09-14 22:19] vivekmuniyandi opened #816 "withSSLContext(SSLContext, TrustManager) does not work"
withSSLContext(SSLContext, TrustManager) is not passing the TrustManager inside to setSSLSocketFactory. We had not passed the TrustManager internally but were passing it as null. It was working fine through reflection.

[2017-09-14 22:22] vivekmuniyandi commented on #816
This is not applicable to 3.0.8 because we had used the sslSocketFactory(SSLSocketFactory) method there. We had not used the TrustManager there.

[2017-09-15 20:33] sammefford commented on #746
Without enough information to reproduce, we cannot work on this report.

[2017-09-15 20:33] #746 closed

[2017-09-15 20:36] vivekmuniyandi commented on #814
I am not reproducing this in my cluster. Both this and #813 have failed with the same exception.

[code]
A similar error has been reported with Okhttp but it has been ruled out as a server issue. Will try it out on the stress cluster next week.

[2017-09-15 21:03] sammefford commented on #802
Fixed with f81bcdd

[2017-09-15 21:03] #802 closed

[2017-09-15 21:04] sammefford commented on #802
I'm closing this because there's really no need for QA.  The warning disappeared.

[2017-09-15 21:30] sammefford commented on #775
@georgeajit to test, please add a test for this override:

    queryManager.search(queryDef, searchHandle, start, transaction)

And set start to something other than 1, then check that it correctly returns results starting at the specified start.

[2017-09-15 22:19] sammefford commented on #742
@kcoleman-marklogic could you take a look after this builds again in pubs, and make sure the code looks good to you?

[2017-09-15 22:29] sammefford commented on #740
It's clear that this was a bug when you found it.  However, I don't see it in ML Server 10.0-20170912.  Can you still reproduce this?

[2017-09-15 23:06] #458 closed

[2017-09-16 23:29] kcoleman-marklogic commented on #742
It looks good now, Sam.

[2017-09-18 14:26] tdiepenbrock opened #817 "okhttp-digest unresolvable on maven central"
Our customer is at a dead stop because com.burgstaller:okhttp-digest:jar:1.14 can't be resolved on maven central.

[2017-09-18 14:27] hansenmc commented on #817
https://github.com/marklogic/java-client-api/issues/795

Add this repository to your pom.xml repostories section:

	<repository>
		<id>jcenter</id>
		<url>http://jcenter.bintray.com</url>
	</repository>

[2017-09-18 16:32] sammefford commented on #817
@tdiepenbrock, are there better ways we can advertise such requirements?  We included it on http://developer.marklogic.com/products/java , but maybe we should have it somewhere else also...  Where did the customer go to download 4.0.2?

[2017-09-18 17:17] hansenmc commented on #817
It's worth creating a ticket asking them to publish to Maven Central.Bintray makes it really easy. Then it would resolve and "just work" without custom repository config.

[2017-09-18 17:36] sammefford commented on #616
As part of adding this capability we should add a recipe showing how to use it

[2017-09-18 17:38] tdiepenbrock commented on #817
Hi Sam,

It looks like the customer relies on Maven Central for everything.  They did not pull from the separate repo.  I’ll find out more tomorrow when we have our regularly scheduled conference call with them.

td

Thomas Diepenbrock
Technical Manager
MarkLogic Corporation
Thomas.Diepenbrock@marklogic.com<mailto:Thomas.Diepenbrock@marklogic.com>
Cell:  +1 703 980 1248

[cid:0B48B25A-8630-42FD-BF

[2017-09-18 17:51] vivekmuniyandi commented on #483
OpticExportListener from package com.marklogic.client.example.cookbook.datamovement enable us to apply a Function which would take a QueryBatch as argument and return a plan, which would be iterated and processed by each listener registered with it.

and OpticExportToWriterListener from the same package enable us to do the same but the records from the plan would be written to a Writer Output stre

[2017-09-18 18:12] sammefford opened #818 "Document failover support"

[2017-09-19 16:22] kcoleman-marklogic commented on #755
Yes, I see where I went wrong now. Thank you. Sorry for wasting your time on this.

[2017-09-19 16:22] #755 closed

[2017-09-19 16:30] sammefford commented on #755
No worries, Kim.  We always welcome more eyes on things.  We'd rather some bug reports that aren't bugs than no bug reports but shipping bugs! :)

[2017-09-19 21:58] georgeajit commented on #473
This is the latest code to be run against ```Meters``` database.

[code]

Result after execution of above script:
[code]

[2017-09-19 22:35] #747 closed

[2017-09-19 22:35] #764 closed

[2017-09-19 22:35] #765 closed

[2017-09-19 22:35] #773 closed

[2017-09-19 22:35] #776 closed

[2017-09-19 22:35] #777 closed

[2017-09-19 22:35] #786 closed

[2017-09-19 22:35] #789 closed

[2017-09-19 22:35] #791 closed

[2017-09-19 22:35] #793 closed

[2017-09-19 22:35] #796 closed

[2017-09-19 22:35] #800 closed

[2017-09-19 22:35] #804 closed

[2017-09-19 22:35] #805 closed

[2017-09-19 22:36] #537 closed

[2017-09-19 22:36] #544 closed

[2017-09-19 22:36] #545 closed

[2017-09-19 22:36] #549 closed

[2017-09-19 22:36] #559 closed

[2017-09-19 22:36] #568 closed

[2017-09-19 22:36] #575 closed

[2017-09-19 22:36] #576 closed

[2017-09-19 22:36] #581 closed

[2017-09-19 22:36] #582 closed

[2017-09-19 22:36] #583 closed

[2017-09-19 22:36] #598 closed

[2017-09-19 22:36] #611 closed

[2017-09-19 22:36] #638 closed

[2017-09-19 22:36] #682 closed

[2017-09-19 22:36] #687 closed

[2017-09-19 22:36] #695 closed

[2017-09-19 22:36] #701 closed

[2017-09-19 22:36] #710 closed

[2017-09-19 22:36] #720 closed

[2017-09-19 22:36] #722 closed

[2017-09-19 22:36] #725 closed

[2017-09-19 22:36] #729 closed

[2017-09-19 22:36] #736 closed

[2017-09-19 22:36] #742 closed

[2017-09-19 22:36] #465 closed

[2017-09-19 22:36] #466 closed

[2017-09-19 22:36] #473 closed

[2017-09-19 22:36] #479 closed

[2017-09-19 22:36] #480 closed

[2017-09-19 22:36] #482 closed

[2017-09-19 22:36] #490 closed

[2017-09-19 22:36] #493 closed

[2017-09-19 22:36] #496 closed

[2017-09-19 22:36] #501 closed

[2017-09-19 22:36] #505 closed

[2017-09-19 22:36] #507 closed

[2017-09-19 22:36] #508 closed

[2017-09-19 22:36] #512 closed

[2017-09-19 22:36] #513 closed

[2017-09-19 22:36] #514 closed

[2017-09-19 22:36] #517 closed

[2017-09-19 22:36] #519 closed

[2017-09-19 22:36] #520 closed

[2017-09-19 22:36] #524 closed

[2017-09-19 22:36] #525 closed

[2017-09-19 22:36] #527 closed

[2017-09-19 22:36] #528 closed

[2017-09-19 22:36] #529 closed

[2017-09-19 22:36] #531 closed

[2017-09-19 22:36] #7 closed

[2017-09-19 22:36] #8 closed

[2017-09-19 22:36] #22 closed

[2017-09-19 22:36] #23 closed

[2017-09-19 22:36] #32 closed

[2017-09-19 22:36] #33 closed

[2017-09-19 22:36] #49 closed

[2017-09-19 22:36] #65 closed

[2017-09-19 22:36] #92 closed

[2017-09-19 22:36] #112 closed

[2017-09-19 22:36] #367 closed

[2017-09-19 22:36] #368 closed

[2017-09-19 22:36] #402 closed

[2017-09-19 22:36] #409 closed

[2017-09-19 22:36] #414 closed

[2017-09-19 22:36] #426 closed

[2017-09-19 22:36] #446 closed

[2017-09-19 22:36] #449 closed

[2017-09-19 22:36] #452 closed

[2017-09-19 22:36] #455 closed

[2017-09-19 23:16] jmakeig commented on #705
@sammefford, do you remember any more details on this? Is it the ability to specify a transformation at runtime and not have to pre-load it?

[2017-09-19 23:17] jmakeig commented on #692
Removed 7, which will have EOL announced soon.

[2017-09-20 16:06] sammefford commented on #197
I don't know off-hand.  I was planning to take a look as part of 4.0.4.  Would that work?

[2017-09-20 16:09] sammefford commented on #705
yeah, that's all it is

[2017-09-20 17:21] sammefford opened #819 "Define HTTP Retry requirements"
The server has several scenarios where it throws retryable exceptions.  Currently the Java Client API only retries when the server responds with status code 503.  When else should we retry?

[2017-09-20 17:23] sammefford commented on #819
This was prompted by Srinath stumbling on [this article](https://medium.com/inloop/okhttp-is-quietly-retrying-requests-is-your-api-ready-19489ef35ace).  At this point we can't say whether OkHttp is providing an improvement or regression because we're not clear what the requirements are.

[2017-09-20 17:36] sammefford opened #820 "Add examples to StructuredQueryBuilder javadoc"
Some things aren't abundantly obvious in StructuredQueryBuilder, like how to create a StructuredQueryBuilder.RangeIndex to pass to range() or a StructuredQueryBuilder.GeospatialRegionIndex to pass to geospatial().  Let's put more examples in the javadocs.

[2017-09-20 17:41] sammefford opened #821 "Add guide examples to unit tests"
Let's make sure the guide doesn't get out of date.  If we throw as many examples as we can from the guide into unit tests, those will tell us if the examples are using deprecated or incorrect APIs and we can use that to update the guide.

[2017-09-20 17:42] sammefford commented on #821
Justin, this won't be super easy/fast.  So I'm assigning to you to prioritize against other priorities.  I'm reporting this because of a vague second-hand report "examples in the docs don't compile"

[2017-09-20 18:31] georgeajit commented on #801
Verified ```BulkLoadFromJdbcWithJoins```,  connection is within the try-with-resources.  ```BulkExportToJdbc``` does not have ```jdbcTemplate.getDataSource().getConnection()``` call and hence no ```java.sql.Connection``` instance.

[2017-09-20 20:52] georgeajit commented on #641
Test are passing.

[2017-09-21 21:04] vivekmuniyandi opened #822 "Add initializeListener default method to QueryBatchListener"
Add a default initializeListener(QueryBatcher) method to QueryBatchListener which does nothing. Custom listeners that wants to retry in case of failover exceptions, have to override this method and initialize the RetryListener that facilitates retrying the listeners. The implementation of the method which would help retrying the listener is as follows:

[code]
and you have to call this method in t

[2017-09-21 21:06] vivekmuniyandi commented on #822
This is just a cosmetic change and nothing has changed in the existing functionality.

[2017-09-21 21:26] vivekmuniyandi commented on #818
This is a documentation on Failover in DMSDK.

Failover Support
---------------------
 
In order to add failover support for DMSDK, we need two main listeners – the HostAvailabilityListener (retrying requests getting the uris from the server) and RetryListener(retrying the QueryBatchListener after the batch is got from the server). The HostAvailabilityListener is automatically registered with the

[2017-09-21 21:27] vivekmuniyandi commented on #818
Kim,

Sam had a comment on the priority of a section in the document which I had sent to you over mail. Please take that into account when you document. Many Thanks.

Vivek

[2017-09-21 21:33] kcoleman-marklogic commented on #818
Thank, @vivekmuniyandi , I will. Is Sam's comment reflected in the version of your writeup that is shown here in this issue, or should I look for his feedback elsewhere?

I will take up this topic in earnest as soon as we're done with 9.0-3. Thank you for making the details available so promptly.

[2017-09-21 21:36] jmakeig commented on #818
@vivekmuniyandi, this is a great write-up. Really helpful.

Is the failover behavior the default?

That seems to imply so. Presumably then this will change the behavior of existing code (albeit generally for the better). Or am I misunderstanding.

[2017-09-21 23:21] sammefford commented on #483
Vivek, I'm reminded that we still need a more general-purpose solution, and these iterate over search results, requiring a CTS query first

[2017-09-22 06:44] CS-MakotoNinomiya opened #823 "can not paging search by QueryManager."
QueryManagerImpl.java line:162

  @Override
  @SuppressWarnings("unchecked")
  public <T extends SearchReadHandle> T search(QueryDefinition querydef, T searchHandle, long start, Transaction transaction) {
    return search(querydef, searchHandle, 1, transaction, null);
  }

parameter "start" is not used.
version 4.0.2

[2017-09-22 16:08] vivekmuniyandi commented on #818
@kcoleman-marklogic  The following section in the write up is of low priority. His feedback is in the document I sent to you over mail. Sorry, I should have changed it.

          .withSuspendTimeForHostUnavailable(Duration.ofMinutes(60))
   	  .withMinHosts(2)

Thanks

[2017-09-22 16:14] vivekmuniyandi commented on #818
@jmakeig Yes, the failover behaviour is default.

I don't understand. This was the behavior right from the start I guess and we are just documenting it now. Let me know if I have misunderstood the question. Thanks.

[2017-09-22 17:03] sammefford commented on #823
Duplicate of #775 .  The fix will be released wtih 4.0.3

[2017-09-22 17:03] #823 closed

[2017-09-22 22:01] srinathgit commented on #539
Verified that the new API works for changing minHosts or suspendTimeForHostUnavailable
HostAvailabilityListener.getInstance(batcher)
    .withSuspendTimeForHostUnavailable(Duration.ofMinutes(60))
    .withMinHosts(2)

[2017-09-23 08:25] mwarnes opened #824 "Java API TermQuery missing an options parameter"
The documentation describes the use of a term-option for a term query to distinguish it from a word query

https://docs.marklogic.com/guide/search-dev/structured-query#id_56027

However the TermQuery class does not take an options parameter as the ValueQuery does, in addition, the term() builder methods that are intended to be used in future also do not provide the necessary override methods.

htt

[2017-09-25 23:06] vivekmuniyandi commented on #814
Have filed https://github.com/square/okhttp/issues/3629 against Okhttp for this issue to create a more generic exception. Meanwhile adding a custom listener similar to HostAvailabilityListener to handle the cases where there is no response from the server.

[2017-09-26 20:18] #548 closed

[2017-09-26 20:47] georgeajit opened #825 "DocumentManager search method using SearchReadHandle throws exceptions"
To test Git Issue #639 test method tried to use the following ```DocumentManager``` search method:
```search(QueryDefinition querydef, long start, SearchReadHandle searchHandle)```.

Using a ```DOMHandle``` or ```JacksonHandle``` as the third argument throws exceptions.

For a XQuery transform contained in file ```add-attr-xquery-transform.xqy```
[code]
and installed as
[code]
this test snippet
[c

[2017-09-26 22:04] sammefford commented on #735
I had to add an option to parse utf-16 encoded files because the files names 0n3-utf16.n3, 0trig-utf16.trig, 5triples-utf16.nt, livesIn-utf16.ttl, rdfxml1-utf16.rdf, etc. indicate they're utf16  encoded.  The change (revision 268438) resolved the issue.

[2017-09-27 18:56] vivekmuniyandi commented on #577
The same is happening. The stop job is called on the client side and there are no further requests submitted. But we have no way to control the inflight requests to the server. Since two of the three hosts are down, we are dealing with the database being unavailable situation and connections hang for up to transaction timeout. I see that the requests come back after the transaction time out and th

[2017-09-27 18:56] vivekmuniyandi commented on #577
Kindly let me know if you feel otherwise.

[2017-09-27 19:36] vivekmuniyandi commented on #813
When a host is being brought down or if it is in the process of shutting down, there might be scenarios where there is no response for a request. With Okhttp in place, we are getting an EOF exception indicating an end of stream on Connection. Hence we have to take that into account during DMSDK failover. We have added a new listener called NoResponseListener which is a subclass of HostAvailability

[2017-09-27 20:38] georgeajit commented on #639
Shipping the Task. Pending Git issues on this feature will be handled separately.

[2017-09-27 21:37] srinathgit opened #826 "Discrepancy in batch.getJobWritesSoFar() and total count after a job stops"
I am testing forest failover scenario in a 3 node cluster with a forest on each one of them. The min hosts has been set to 3. When I stop one node, the job stops as expected. After that, I start that node. I see few batches in flight are written and the batch.getJobWritesSoFar() and total document count (batch.getJobWritesSoFar()  returns 455 whereas there are only 273 docs in db). The log is atta

[2017-09-27 22:12] sammefford commented on #826
I'm guessing the problem here is that the value behind getJobWritesSoFar() is incremented when documents are added to the job queue, not when they are written to the server.  So when the job is stopped prematurely there may be batches that were never written even though they are counted in the number behind getJobWritesSoFar().  I think it's safe to say that's confusing and therefore a bug.  So le

[2017-09-27 22:17] sammefford opened #827 "InterruptedException causing error with properties (clone of #794)"
This is a clone of #794 so we can include the fix in 4.0.3

[2017-09-28 00:55] srinathgit opened #828 "Set fields of NoResponseListener same as HostAvailabilityListener"
Currently, in order to  modify the suspend time or min hosts, we have to individually set them in both HostUnavailableListener and NoResponseListener .
[code]
Given the fact that NoResponseListener's processFailure is called only when the server goes down, can we by default set HostAvailabilityListener's suspend time , min hosts and other fields for NoResponseListener as well  and not expose the g

[2017-09-28 11:26] vivekmuniyandi commented on #828
As of now, we don't have any restriction on the presence of HostAvailabiityListener in the list of failure listeners. We are registering it by default to the instances but that doesn't prevent the customer to delete it by using the setQueryFailureListeners (in case of QueryBatcher) or setBatchFailureListeners (in case of WriteBatcher) and having no HostAvailabiityListener in the array they pass to

[2017-09-28 16:41] sammefford commented on #794
It turns out the remaining issue in WriteBatcher was just because the job was stopped (on purpose for a negative test) before all documents had been written.  So I just modified the test to expect an InterruptedException since WriteBatcher internally calls threadPoolExectuor.shutdownNow which internally calls Thread.interrupt() which causes OkHttp to stop all writing streams and throw an Interrupt

[2017-09-28 16:41] #794 closed

[2017-09-28 18:16] sammefford commented on #828
Also, remember that we don't expect customers to be commonly changing withSuspendTimeForHostUnavailable nor withMinHosts.  That seems like a very rare need for customers even though we do it frequently in our tests.

[2017-09-28 19:10] #828 closed

[2017-09-28 19:12] #827 closed

[2017-09-29 06:59] jmakeig commented on #813
Is there a way for a user to flag her `ApplyTransformListener` as idempotent so the retry can be applied automatically or does the user have to know to retry in her failure handler? `ApplyTransformListener.initializeListener(QueryBatcher queryBatcher)` is documented as “This default method should be implemented by custom listeners that should be retried in case of failover.” It's not clear to me w

[2017-09-29 17:24] sammefford commented on #825
Both issues are with the transform not working on search results.  To work with XML search results, you must change `element {fn:name($root)}` to `element {fn:node-name($root)}` so it can get the namespace properly expanded.  To work with JSON search results, the whole transform needs to be different.  The error on JSON search results is occurring because `let $root  := $content/*` gets a sequence

[2017-09-29 22:02] sammefford commented on #556
@vivekmuniyandi any update on this?  If not, we should probably push this to 4.0.4.

[2017-09-29 22:04] sammefford commented on #478
@kkanthet any update on this?  If not, we should probably push to a future release.

[2017-09-29 22:12] srinathgit opened #829 "Process hangs after WriteBatcher job is stopped (since the hosts were unreachable)"
We are finding scenarios where requests hang rather than throwing an exception when a host is unavailable.  All failed requests should either throw an exception immediately or retry for up to 2 mins if the server is throwing a retryable error such as status 503.

In the test a write batcher job is running from a client machine against a 3 node cluster with forest on 3 hosts . During the run, the n

[2017-09-29 22:16] kkanthet commented on #478
i just noticed this task, add a step to create javadoc and archive to http://jenkins.marklogic.com/view/Java%20API/job/JavaAPIUnitTest_develop_xdmp-trunk/  is that what we are looking for ..?

[2017-09-29 22:52] srinathgit commented on #813
If the transform is idempotent user has to know to retry in their failure handler.

[code]

[2017-10-02 16:26] grechaw commented on #478
Note that if you use mvn:deploy from jenkins (I think @itsshivaverma has been looking into this)
by default the tests and javadoc will be run before publishing to nexus.

So if the tests are end-to-end runnable from gradle, then just the mvn deploy command will ensure tests are running, javadoc is built, and the snapshot is deployed to nexus for use in downstream development, like examples and the

[2017-10-03 20:26] georgeajit commented on #825
The change ```element {fn:name($root)} to element {fn:node-name($root)}``` in the transform xquery code produces the expected result.

[2017-10-03 20:50] georgeajit opened #830 "Automate Server certificate test."
Here is the test that runs in "develop" branch on Windows.
[code]

[2017-10-03 21:59] srinathgit commented on #829
The stack trace of the same scenario when not using DMSDK. The process hangs forever and no relevant info is found in client log

[code]

[code]

[2017-10-03 23:57] srinathgit commented on #814
After the fix, all the URIs are returned

[2017-10-03 23:58] srinathgit commented on #813
Able to obtain all URIs after failover

[2017-10-03 23:59] srinathgit commented on #822
Able to retry other listeners (like ApplyTransform) using initializeListener method.

[2017-10-04 00:07] grechaw opened #831 "Remove site plugin config from samplestack days"
To assist with Samplestack development, I devised a method of deploying SNAPSHOT dependencies to github.  See issue #19

Now this configuration is in the way of moving ahead with nexus configuration, so we should remove it.

I'll create the patch and circulate for review.  Shouldn't impact any dev processes.

[2017-10-04 00:36] srinathgit opened #832 "Incorrect behavior of QueryBatcher when server becomes unavailable during job"
I tested the same scenario as #829 with QueryBatcher (disconnect client from the server during job run) and I am seeing different behavior each time.

1. The process hangs with no exceptions/ no nodes getting blacklisted. The [clientLog](https://github.com/marklogic/java-client-api/files/1354263/exception.txt) and
[thread dump](https://github.com/marklogic/java-client-api/files/1354264/jstack.txt)

[2017-10-04 01:10] srinathgit commented on #832
com.marklogic.client.MarkLogicIOException: java.net.SocketTimeoutException: Read timed out occurs with QueryBatcher jobs (QueryBatcherImpl$QueryTask.run, it occured during ApplyTransformListener.processEvent in the previous comment ) as well when the client is disconnected from server during jobs

[code]

[2017-10-04 20:50] srinathgit opened #834 "Negative values for Host suspend time"
The withSuspendTimeForHostUnavailable method (HostAvailabilityListener class) takes an argument of type Duration . Duration allows negative values (Duration.ofDays(-100)). When such a value is set and a node is shut down, the new forest config is taken almost immediately. Since we throw IllegalArgumentException for negative minHosts value, should we do the same here ?

13:43:14.308 [pool-3-thread-

[2017-10-04 20:56] srinathgit commented on #504
I don't see this behavior anymore

[2017-10-04 23:30] srinathgit commented on #523
When the job was running, the node is shut down and started again after 25 seconds. As you can see in the [log](https://github.com/marklogic/java-client-api/files/1357640/temp.txt), the forest config is not obtained after 25 seconds.
[code]

[code]

[2017-10-05 00:00] srinathgit commented on #526
I am not seeing the issue over multiple runs

[2017-10-05 00:26] srinathgit commented on #666
The NPE is handled.

[2017-10-05 00:46] srinathgit commented on #523
I think the scenario mentioned in the previous comment is different from the one that I had originally reported. The original issue is fixed, so I will open a new bug with previous comment for fixing.

[2017-10-05 00:49] srinathgit opened #835 "Host not added back to rotation after "host unavailability interval" expires"
The process in HostAvailabilityListener which gets the updated forest config after a suspend time for host unavailable is only using one host to get the updated forest config.  If that host is down it fails to get the updated forest config.

When the WriteBatcher job was running in a 3 node cluster, node 3 is shut down . As you can see in the [log](https://github.com/marklogic/java-client-api/file

[2017-10-05 00:57] srinathgit opened #836 "WriteBatcher hangs in awaitCompletion"
A. The following test is performed on 3 node cluster with a db associated with 3 forests.
B. During the job, one of the host "rh7v-intel64-90-test-9.marklogic.com" is stopped and started soon after (within 30 seconds so that failover doesn't happen)
C. During multiple runs, most of them were successful without issues but I found one instance where the job was hanging in awaitCompletion
D. [clientL

[2017-10-05 19:48] kcoleman-marklogic commented on #818
@vivekmuniyandi I have a question about this section of your most excellent writeup:

Do ApplyTransformListener and DeleteListener have such a retry listener attached by default, or is it something the user must do?

The ApplyTransformListener javadoc talks only about the empty response case, so that didn't clear it up for me, either.

[2017-10-05 21:45] kcoleman-marklogic commented on #818
Actually @vivekmuniyandi now that I've given it more thought, it would be very helpful thave an example of how to do what you said with a RetryListener. I looked through the tests and could not find any use of this class. I would like to include an example the documentation.

[2017-10-05 22:12] kcoleman-marklogic commented on #818
@vivekmuniyandi Is it true that custom listeners that do not go through a QueryBatcher do not need to do anything special wrt failover handling? In your writeup, you only mentioned custom listeners invoked via a QueryBatcher.

[2017-10-05 23:05] sammefford commented on #829
I updated the summary with a couple highlights since I think we'll want this issue to be easier for managers to grok.  The current behavior of HostAvailabilityListener only asking one host for updated forest config is expected behavior.  However, it doesn't seem congruent with the general failover support provided by HostAvailabilityListener.  In hind-sight I think we should add the ability to ask

[2017-10-05 23:06] sammefford commented on #829
Since this issue is coming in very late and not one that requires a stop-ship, I think we can push it to 4.0.4

[2017-10-05 23:08] sammefford commented on #834
I don't think that's necessary.

[2017-10-05 23:09] sammefford commented on #836
Let's address this in 4.0.4 since we're closing out this release and this doesn't appear to hurt the full processing of the job

[2017-10-05 23:13] sammefford commented on #835
I updated the summary since I think we'll want this issue to be easier for managers to grok.  The current behavior of HostAvailabilityListener only asking one host for updated forest config is expected behavior.  However, it doesn't seem congruent with the general failover support provided by HostAvailabilityListener.  In hind-sight I think we should add the ability to ask any available host in th

[2017-10-06 03:31] srinathgit opened #837 "WriteBatcher intermittent hang in awaitCompletion()"
The following test intermittently hangs in awaitCompletion(). The thread dump is attached.
[jstack.txt](https://github.com/marklogic/java-client-api/files/1361472/jstack.txt)

[code]

[2017-10-06 17:27] srinathgit opened #838 "All documents not transformed intermittently after failover"
In the following test run on a 3 node cluster, I stop node 3 , after 5 seconds , stop node 2 and start node 3. Intermittently, I see < 15k docs transformed. In this run, I saw only 10091 docs transformed. The log is attached.
[TEST-com.marklogic.client.datamovement.functionaltests.QBFailover.txt](https://github.com/marklogic/java-client-api/files/1363436/TEST-com.marklogic.client.datamovement.func

[2017-10-06 19:36] vivekmuniyandi commented on #818
With NoResponseListener, we have two types of RetryListeners.

1. RetryListener associated with HostAvailabilityListener and
2. RetryListener associated with NoResponseListener.

For DeleteListener, we have initialized both the RetryListeners and hence the customer doesn't need to do anything since deletion is an idempotent operation.

But for ApplyTransformListener, since they cannot be assumed a

[2017-10-06 19:39] vivekmuniyandi commented on #818
Currently all the custom listeners we have are associated with the QueryBatcher. And retries become complicated with the QueryBatcher only. With WriteBatcher, we keep retrying until all the documents have been successfully written since they are idempotent.

[2017-10-06 19:43] vivekmuniyandi commented on #813
@jmakeig A sample implementation has been implemented in the DeleteListener

[code]

For ApplyTransform alone, we have to do how Srinath has mentioned in https://github.com/marklogic/java-client-api/issues/813#issuecomment-333257111 if the transform is idempotent.

[2017-10-06 19:48] vivekmuniyandi commented on #818
For listeners doing idempotent operations like DeleteListener, we have overrided the initializeListener(QueryBatcher) method like this

[code]

This would take care of all the retries and the customer need not do anything. If they are implementing custom listeners which does idempotent operation, they have to override the above method with the implementation shown above and this would take care of

[2017-10-06 20:04] jmakeig opened #839 "Tableau Data Extract"
Demonstrate how to project from documents, rows, or triples into a [Tableau Data Extract](http://onlinehelp.tableau.com/current/pro/desktop/en-us/extracting_TDE_API.html).

* Default flattening strategies from documents to columns
* Custom server-side projection from documents, triples, or rows
* Multi-host, multi-threaded (I don’t know how the Tableau SDK would handle multiple writers, but figuri

[2017-10-06 20:26] vivekmuniyandi commented on #837
Moving to 4.0.4 as there is no data loss here and we are in controlled check in phase

[2017-10-06 21:06] kcoleman-marklogic commented on #818
OK, let me say this back in words to see if I understand what you said in wrt to custom listeners.

### Case 1: You want to retry the custom operation if there is a failover

Create a class that implements QueryBatchListener and override the initializeListener method to do the following:
* Obtain the HostAvailabilityListener from the batcher
* Call HostAvailabityListener.initializeRetryListener to

[2017-10-06 21:45] georgeajit commented on #735
@sammefford , Could you please check in the fix into QA 9_0 branch in the SVN repository? I verified the Stress run using the Trunk branch (revision 268438). You may ship it or assign it back to me for recheck.

[2017-10-06 21:55] vivekmuniyandi commented on #818
Case 1 and 3 looks good to me. If we don't want to retry then we don't need to do anything - the steps you mentioned in Case 2 also handles failover scenarios. There are scenarios where we get no response from the server. NoResponseListener is used to do that. So you don't need to do anything if you don't want to retry at all.

[2017-10-06 22:01] kcoleman-marklogic commented on #818
Perfect. Thank you, @vivekmuniyandi .

[2017-10-09 16:21] kcoleman-marklogic commented on #768
Saving only feedback from Sam or Justin, this done for 4.0.3 (and 3.0.9). If I get corrections today or tomorrow, I'll incorporate, but otherwise, this is going out as-is.

[2017-10-10 23:52] srinathgit commented on #798
I don't see the job going to infinte loop anymore

[2017-10-10 23:53] srinathgit commented on #557
This issue is not seen anymore

[2017-10-11 00:04] srinathgit commented on #579
The job stops after the fix

[2017-10-11 00:05] srinathgit commented on #570
This issue is not seen anymore

[2017-10-11 00:38] srinathgit commented on #668
This issue has been resolved.

[2017-10-11 00:39] srinathgit commented on #744
This issue has been resolved

[2017-10-11 19:58] vivekmuniyandi commented on #832
Moving to 4.0.4 as there is no data loss here.

[2017-10-11 21:29] georgeajit commented on #787
[code]
and

[code]

[2017-10-12 00:46] srinathgit commented on #826
I'm still seeing an issue with getJobWritesSoFar(). The following test should print

Success
10
Failure
10

But currently, it is printing

Success
10
Failure
0

[code]

[2017-10-12 14:44] ryanjdew opened #842 "Blacklist occurring with client 4.0.2 and ML 9.0-2"
I get the issue below and it seems to be related to memory use getting too high. It has run fine against smaller datasets, but when we get into the GB size files it will run fine to a point and then will give the following error and slow to a crawl. Nothing in the MarkLogic Meters data indicates that there is a problem on the MarkLogic side.

[code]

This is with 4.0.2 Java client and ML 9.0-2. At

[2017-10-12 18:06] sammefford commented on #842
Thanks, @ryanjdew .  Can you add an onBatchFailure listener that prints out the file names from the batches that fail? I'd like as much information as you can give us about those files so we can have the best chance to reproduce.  Also, I'd like to know if this is intermittent or consistent that certain files always fail.

For a temporary workaround you can try one of these options:

1) Remove Hos

[2017-10-12 18:41] ryanjdew commented on #842
@sammefford Thanks for looking into this. I'm seeing the URIs being output with the HostAvailabilityListener, but I'm not seeing any consistency in the URIs between the ingest runs. I can't share the full logs due to the nature of the data.

[2017-10-12 20:05] sammefford commented on #826
I think we'll be ok to address this in the next release (4.0.4)

[2017-10-12 20:53] srinathgit commented on #837
I am seeing this more frequently in my runs (about 2 times in the last 10 runs)

[2017-10-12 21:59] sammefford commented on #818
@kcoleman-marklogic can we ship this issue?

[2017-10-13 00:43] srinathgit commented on #826
The issue has been fixed.

[2017-10-13 02:12] kcoleman-marklogic commented on #818
Yes, I suppose. I am not convinced what we have makes sufficient sense, but I guess we'll just have to see.

[2017-10-13 06:30] georgeajit commented on #816
[code]

[2017-10-13 16:51] paxtonhare commented on #596
@sammefford Looks like this will work. I'll just have to make sure and keep that datamovementManager around in memory.

[2017-10-13 16:55] sammefford commented on #596
Actually, we're just about to push a change that makes the list of active jobs static so all DataMovementManager instances can access the same list.  We generally try not to keep instance-specific state other than configuration in managers, so this will better align with that approach.

In summary, you should be able to create a new DataMovementManager instance and access the same list of active j

[2017-10-13 17:23] georgeajit commented on #644
The unit test passes in nightly regressions. Verified on MarkLogic 8.0 nightly build with Java Client API on develop branch (after 3.0.8 was tagged).

[2017-10-13 17:51] georgeajit opened #843 "Add tests for restricted xpath access"
QA needs to add some pass through tests for a new feature that will be available in MarrkLogic Server release 9.0.4. The tests need to verify restricted XPath access.

[2017-10-13 22:59] sammefford commented on #696
Vivek, could you take a look at the [writeup](https://github.com/marklogic/java-client-api/blob/develop/src/main/java/com/marklogic/client/example/cookbook/README.md) and let me know if you see anything I should change?

[2017-10-14 19:16] vivekmuniyandi commented on #696
This looks good to me Sam.

[2017-10-15 01:28] arthi-ramachandran commented on #565
@sammefford , should this be marked as ship ?

[2017-10-15 01:29] arthi-ramachandran commented on #563
@sammefford , should this be marked as ship for 4.0.3 ?

[2017-10-15 01:30] arthi-ramachandran commented on #478
@kkanthet , are we taking this in 4.0.3 ?

[2017-10-15 01:36] arthi-ramachandran commented on #838
@srinathgit , 4.0.3 release date is next Monday, Oct 23rd. Should this be closed ?

[2017-10-15 01:37] arthi-ramachandran commented on #797
@georgeajit , 4.0.3 release date is next Monday, Oct 23rd. Should this be shipped ?

[2017-10-15 01:38] arthi-ramachandran commented on #740
@georgeajit ,  4.0.3 release date is Oct 23rd, next Monday. Should this be shipped or closed ?

[2017-10-15 01:40] arthi-ramachandran commented on #562
@sammefford , 4.0.3 release date is Oct 23rd , next Monday. Should this be assigned to to the right tester for ship ?

[2017-10-15 01:41] arthi-ramachandran commented on #556
@vivekmuniyandi , @sammefford , 4.0.3 ship date is next Monday, Oct 23rd. Response asap to decide will be useful. Thanks.

[2017-10-15 01:43] arthi-ramachandran commented on #506
@jmakeig , 4.0.3 release date is Monday, Oct 23rd. Should this guidance be revisited in 4.0.4 timeframe ? If so, we should fix the milestone to 4.0.4

[2017-10-15 01:55] vivekmuniyandi commented on #556
Moving this to 4.0.4 as there is no update on the bug and this results in a hang when applying transforms and there is no data loss.

[2017-10-15 01:57] srinathgit commented on #838
@arthi-ramachandran  This issue was fixed and assigned to me yesterday evening. I will verify the fix / ship it on Monday

[2017-10-15 03:19] georgeajit commented on #797
Tests will be done in 4.0.4.

[2017-10-15 03:21] georgeajit commented on #740
Don't see this issue anymore on regression servers.

[2017-10-15 03:24] georgeajit commented on #478
Will talk to about this and update.

[2017-10-15 04:27] arthi-ramachandran commented on #838
@srinathgit , thank you

[2017-10-15 04:28] arthi-ramachandran commented on #556
thank you

[2017-10-15 04:28] arthi-ramachandran commented on #797
thanks

[2017-10-15 04:29] arthi-ramachandran commented on #478
Thanks

[2017-10-16 16:16] sammefford commented on #565
@jmakeig No, I need to first add docs to BulkLoadFromJdbc*.java

[2017-10-16 16:35] sammefford commented on #563
@arthi-ramachandran, I had to update the docs first.

[2017-10-16 16:37] sammefford commented on #562
@arthi-ramachandran , yes, thanks for catching that.

@vivekmuniyandi, could you take a look at the docs (including the in-line comments) for src/main/java/com/marklogic/client/example/cookbook/datamovement/BulkExportToJdbc.java and see if you have any feedback to improve it?

[2017-10-16 20:00] vivekmuniyandi commented on #562
@sammefford Looks good. Shipping it.

[2017-10-17 17:01] sammefford commented on #842
Another potential workaround is to use Java Client API 4.0.1.  That uses Jersey for HTTP layer, rather than OkHttp.  It's possible there is a bug in OkHttp when working with GB-size files.

[2017-10-17 18:40] srinathgit commented on #838
I don't see this issue anymore

[2017-10-17 23:25] sammefford commented on #735
@georgeajit I committed revision 269839 to qa/branches/b9_0.  I couldn't test because stress/widowmaker/run-rest.sh isn't running without errors, and it appears that branch is out of date.  Both lib/marklogic-client-api-4.0-SNAPSHOT.jar and lib/marklogic-client-api-5.0-SNAPSHOT.jar haven't been updated in 6 weeks, so they're not using Java Client API 4.0.2.  Reassigning to you as we discussed.

[2017-10-18 00:37] sammefford commented on #565
@vivekmuniyandi looks like I'm only getting in BulkLoadFromJdbcRaw this time.  Could you take a look and make sure the docs seem helpful?

[2017-10-18 18:21] vivekmuniyandi commented on #565
Looks good to me.

[2017-10-21 19:30] jmakeig commented on #696
A recipe recipe, if you will.

[2017-10-24 04:14] srinathgit opened #844 "All documents not returned after failover"
I am seeing this issue for the first time now in Windows cluster. In the following test run on a 3 node cluster, I stop node 3 , after 5 seconds , stop node 2 and start node 3. Intermittently, I see 13891 docs returned . The server and client logs are attached.
[TEST-com.marklogic.client.datamovement.functionaltests.QBFailover_1.txt](https://github.com/marklogic/java-client-api/files/1409496/TEST-

[2017-10-25 01:45] srinathgit commented on #844
@vivekmuniyandi ,

I have added the [clientLog](https://github.com/marklogic/java-client-api/files/1412982/TEST-com.marklogic.client.datamovement.functionaltests.QBFailover_2.txt) with more details. The issue looks like we don't read from a forest. I am not sure how forest config (line 2108) was obtained before w2k12-90-tst-6.marklogic.com instance starts and the db becomes available

[code]

[2017-10-25 15:53] sammefford commented on #844
@srinathgit HostAvailabilityListener blacklists the downed host then immediately calls withForestConfig so the batcher is aware of the blacklisting.  It doesn't reach out to the server until the suspendTime has expired (15s in this case).

Any reason you'd be running old code instead of develop?  The lines reported in the error log aren't consistent with QueryBatcherImpl.java from the develop bran

[2017-10-25 22:55] sammefford opened #845 "Remove Markdown from Javadocs"
We need to remove pegdown-doclet dependency since it's GPL.  Therefore we need to fix all javadocs that were written in Markdown and make them HTML instead, so they'll still look nice for end-users.

[2017-10-25 23:01] jmakeig commented on #845
Huh? We haven’t changed the GPL code and we’re not redistributing it. What’s the issue?

[2017-10-25 23:12] sammefford commented on #845
Looking closely at GPLv3.0 it says "convey" means "any kind of propagation that enables other parties to make or receive copies".  Therefore when we include markdown-doclet in our pom.xml that enables other parties to receive copies which means the pom.xml is effectively conveying GPL code, thus making this project liable to GPL restrictions.

[2017-10-26 00:04] hansenmc commented on #845
The [pegdown](https://github.com/sirthias/pegdown) project says that it is deprecated and unmaintained anyhow. They suggest that people move to [flexmark-java](https://github.com/vsch/flexmark-java). It has a [BSD license](https://github.com/vsch/flexmark-java#license).

It might be worth looking to see if you could just swap out, rather than re-write the javadocs. Plus, it appears to be faster an

[2017-10-26 00:14] hansenmc commented on #845
You might still need a doclet. There is [MDoclet](https://github.com/mnlipp/jdrupes-mdoclet), but it's GPL 3.0 as well...

[2017-10-26 00:16] sammefford commented on #845
I wasn't directly using pegdown, however, but pegdown-doclet which bundles pegdown into a javadoc doclet.  From [this post](https://www.richardnichols.net/2009/06/markdown-doclet-for-javadoc/) that apparently wasn't easy for them to create.

[2017-10-26 00:18] sammefford commented on #845
@hansenmc , I looked an didn't find MDoclet.  While I was excited to see it, it's GPL also :(

[2017-10-26 15:27] sammefford opened #846 "Refactor code generation to be safe for javadocs"
Now that we're removing pegdown-doclet, the standard javadoc tool is being very picky about html errors in CtsExpr.java.  Let's figure out how the code generation can generate javadocs that don't generate errors or warnings.

[2017-10-26 16:41] srinathgit commented on #844
The regression machine was using old code. The issue is not seen in the latest develop branch after multiple test runs

[2017-10-26 16:42] #844 closed

[2017-10-26 17:51] damonfeldman commented on #779
In Rob's original note I see that REST is causing Expanded Tree Cache (i.e. query) activity, where XCC does not. Could this be why the performance characteristics vary so much? That some systems are more sensitive to query load.

BTW, it is quite counter-intuitive that a REST PUT will drive any query activity whatsoever.

[2017-10-27 18:59] sammefford commented on #845
@vivekmuniyandi could you pull develop, build the javadocs (mvn javadoc:javadoc) and browse the datamovement javadocs you built to make sure paragraphs have space between them, no junk is in the docs, and the code snippets look good?

[2017-10-27 21:58] vivekmuniyandi commented on #845
I just went through all the pages under datamovement and everything is good.

[2017-10-27 23:08] vivekmuniyandi commented on #845
@sammefford There is an improper link in BulkExportToJdbc and there are problems with code and formatting in IncrementalLoadFromJdbc and OpticExportListener. Since these are cook book examples, should we really deal with it in the javadoc? If yes, can we do that in 4.0.4 as most of it is formatting issue. Just wanted to confirm this with you.

[2017-10-28 00:10] #562 closed

[2017-10-28 00:10] #563 closed

[2017-10-28 00:10] #565 closed

[2017-10-28 00:10] #641 closed

[2017-10-28 00:10] #756 closed

[2017-10-28 00:10] #775 closed

[2017-10-28 00:10] #696 closed

[2017-10-28 00:10] #845 closed

[2017-10-31 18:45] xquery commented on #779
As per recent internal discussions - might be worth raising this with PM and Support to get this more firmly on the radar - if work has to be done we can get into the plan.

I would be curious to see behavior with just pure curl - I know this has been raised against java api client - though would be useful to occlude http clients contribution to this.

[2017-10-31 22:18] sammefford commented on #779
I'm not sure it would make sense to attempt to recreate this scenario against curl.  We're talking about multi-threaded multi-host writing here.  This ninja move isn't even possible with vanilla XCC, only with the addition of ml-javaclient-util library.

[2017-10-31 22:19] sammefford commented on #779
@xquery also note, this above "When I once again strip the REST impl down to do nothing (so I can measure just the Java side and rewriter/Xquery init side) I got an avg of 3.237s (33% faster than the 4.3274s time we got with Jersey in the 4.0.1 version)."

[2017-10-31 23:04] damonfeldman commented on #779
I'd also be interested in measuring the case where the "REST impl [is] down to nothing" to see the CPU load. For an I/O bound system, the extra CPU might not have much effect on timings or throughput, but on a CPU bound system, it could have a pronounced effect.

[2017-10-31 23:41] jmakeig commented on #779
Are ingest-heavy workloads typically CPU-bound? Are you talking about complex transformations on ingest? Specifics would be helpful.

[2017-11-01 13:18] xquery commented on #779
FWIW easy to do parallel requests with libcurl ... also possible to do parallel multiple requests with curl command (w/ bash/ssh fu it is simple to spawn off 1000's parallel requests across multiple hosts).

I think it makes sense to isolate where the bottlenecks could be hence my suggestion of curl - sounds like Erik already has a bead on it.

[2017-11-01 20:30] jmakeig commented on #61
Part of #732

[2017-11-01 20:31] jmakeig commented on #62
Part of #732

[2017-11-01 20:31] jmakeig commented on #60
Part of #732

[2017-11-01 20:33] jmakeig commented on #731
Builders rather than document config

[2017-11-01 20:42] jmakeig commented on #692
A solution will require changes to 8.0. Need to align this with a future 8.0 maintenance release. (And that would still require customers upgrade to that release.)

[2017-11-01 20:45] jmakeig commented on #552
Need to start with a how-to recipe on how you’d do this today and then later automate something out-of-the-box.

[2017-11-02 15:49] sammefford commented on #561
Here's a quick brain-dump of some possible failure scenarios for WriteBatcher:
1. A mal-formed document or uri is rejected
2. An error in MarkLogic server is rejecting all writes
3. A temporary network error causes some batches to fail
4. The client JVM is stopped unexpectedly or otherwise stops functioning
5. The process feeding documents to WriteBatcher fails
6. In addition to 2, 3, or 5 above,

[2017-11-02 16:07] sammefford commented on #600
@grechaw any thoughts on this?

[2017-11-02 16:44] grechaw commented on #600
@jmakeig your concept is valid, you're just naming the wrong part of the query language.

SELECT, CONSTRUCT, ASK, and DESCRIBE are the four keywords for querying the database.  They are reads and part of SPARQL 1.0

INSERT WHERE is part of SPARQL update and does what you're looking for.  SPARQL UPDATE statements can already be batched together, as part of the language.  you just separate update st

[2017-11-02 16:47] grechaw commented on #600
There are two limitations on using multiple statements with SPARQL UPDATE.  We've discussed the shortcomings of the design but have no way to change it at this time.

1.  if you put multiple SPARQL UPDATE statements into a single query, they are all executed as one transaction.  The payload defines a transaction boundary.
2.  if you include just one UPDATE statement per query, then the statements

[2017-11-03 07:30] vivekmuniyandi opened #848 "Functional tests for various types of authentication and authorization scenarios"
There are lots of combinations with Kerberos, Certificate based authentication and with internal and external authorization and with secure connection(using SSL) and without secure connection. It would be good to have functional tests covering all the scenarios so that we would know if a change is breaking any of the tests.

[2017-11-03 15:10] sammefford commented on #848
I think there are also various ways to configure LDAP and Kerberos . . . we should at a minimum map out all the possible combinations.  Then we can decide if we need to test them all.

[2017-11-03 21:41] sammefford commented on #779
When I change my payload to be a more realistic document, the pom.xml file listed above, a 1.8K file, Xcc now performs much worse (30% slower) than DMSDK.  It appears with the tiny documents Xcc is faster, but with more normal documens with more than 1000 characters, DMSDK is faster.  Can you see if you can reproduce with my code, Rob?

[2017-11-03 21:42] sammefford commented on #779
Issue779Xcc.java
[code]

[2017-11-03 21:42] sammefford commented on #779
Issue779DMSDK.java
[code]

[2017-11-07 23:54] sammefford opened #849 "WriteBatcherTest prints some stack traces in the logs"
Stack traces like this don't look right:
[code]

While these are acceptable:

[code]

[2017-11-08 00:05] #849 closed

[2017-11-08 17:54] sammefford commented on #792
@vivekmuniyandi I'm still seeing this.

Failed tests:   testSSLAuth(com.marklogic.client.test.SSLTest): expected:<...gicIOException: java[x.net.ssl.SSLException: Unrecognized SSL message, plaintext connection?]> but was:<...gicIOException: java[.net.ConnectException: Failed to connect to localhost/0:0:0:0:0:0:0:1:8012]>

[2017-11-08 22:47] sammefford opened #850 "QueryBatcher getQuerySuccessListeners should have been onUrisReadyListeners"
It looks like a copy/paste bug crept in when I created getQuerySuccessListeners on WriteBatcher, then copied it to QueryBatcher and failed to rename it onUrisReadyListener.  We need to deprecate QueryBatcher.getQuerySuccessListeners, then create onUrisReadyListener, and replace in the javadocs for QueryBatcher the mention onQuerySuccess (there is no such thing) with onUrisReady.

[2017-11-08 23:34] georgeajit opened #851 "BiTemporal c_testOther fails after upgrade from ML server build 8.0.7.1 to 9.0.4"
While running the test on a system that was upgraded from MarkLogic 8.0.7.1 to 9.0.4 nightly build this test fails. The test was run from Java Client API repo checked out as 3.0.7.

Client API jar version: 3.0.7
ML Server version: 9.0.4

Command run: ```mvn test```

[code]

[2017-11-09 20:48] vivekmuniyandi commented on #792
@sammefford @georgeajit I remember this now. It is supposed to fail. There is nothing really to be done on the code side. We have to make changes on the unit test machines on which we run. This would happen only on SSL days and on non SSL days this wouldn't happen. This wouldn't happen if they have the CA's root certificate installed on all the machines in which they run.

We decided not to use th

[2017-11-09 22:03] sammefford commented on #792
When I saw this, I was not attempting to do SSL.  In other words, it seems to me this is failing on a non-SSL setup.

[2017-11-13 18:18] sammefford commented on #842
@ryanjdew Can you help us get an [mvce](https://stackoverflow.com/help/mcve) so we can dig into this?

[2017-11-13 18:42] sammefford opened #852 "Persist Job & batch information"
#612 asks that we persist JobReport.  I'm thinking that would make a good cookbook example.  We could persist at job start and update at job complete.  I also like the idea of persisting per-batch details, like each uri and whether it succeeded or failed.  I lean away from doing this by default as it adds some overhead.  While the overhead would be minimal, it seems best if people add the listener

[2017-11-13 18:44] sammefford commented on #612
I broke out persisting into a separate task: #852

[2017-11-13 18:47] sammefford commented on #612
For this one I think all we're missing is job start time and end time.  Let's add the Map<String,String> to whatever we create for #852.

[2017-11-13 18:54] sammefford commented on #852
Let's have this object allow setting of properties (similar to Map<String,String> that should persist with the job information.  Also, let's allow setting the collections and WriteBatcher for persisting.  Both should have reasonable defaults, such as a collection with the job id and creating an internal WriteBatcher so writes are asynchronous.  To do this, however, the object will require a Databa

[2017-11-17 01:16] ehennum opened #853 "expose Optic enhancements in 9.0-4"
fromSQL(), fromSPARQL(), sqlCondition(), and bug fixes.

[2017-11-17 02:15] ehennum commented on #853
The Java equivalent of the SJS or XQY tests added in 9.0-4 should be sufficient.

[2017-11-17 02:16] ehennum commented on #846
The code generation should now be replacing <, >, and & in comments with the equivalent HTML entities.

[2017-11-17 10:28] ammy1999 commented on #368
Hello,
A regression in  jersey-apache-client4-1.19.4.jar , it is a vulnerability CVE-2006-0550
what should I do to remove it !!

[2017-11-17 16:46] sammefford commented on #368
@ammy1999 What do you mean a regression?  Why are you using jersey-apache-client4-1.19.4.jar?

Have you tried using [the latest java-client-api](http://developer.marklogic.com/products/java)? It has Jersey completely removed.

[2017-11-17 21:23] ehennum commented on #719
Should cause no regression.  The generated source code should be more aesthetic now (though still far from perfect).

[2017-11-21 00:03] jmakeig commented on #817
Is this still an issue? It’s not really in our control, as it’s a descendent ancestor.

[2017-11-21 00:03] #817 closed

[2017-11-21 00:23] jmakeig commented on #837
How is this different than #836?

[2017-11-21 19:45] vivekmuniyandi commented on #837
@jmakeig The point where the threads are waiting are different in #836 and here.

[2017-11-21 20:13] sammefford commented on #846
Erik, can you also generate @param and @return lines for every member that has javadocs?  Right now `mvn javadoc:javadoc` generates a lot of warnings.

[2017-11-21 21:23] sammefford opened #854 "Recipe for "Load As-Is" from Relational"
Create a new cookbook example which demonstrates how to take one SQL query and load the rows "as-is" into MarkLogic.  Where possible, align with the concepts discussed in the following blog posts:

- [What ‘Load As Is’ Really Means](http://www.marklogic.com/blog/understanding-the-load-as-is-pattern/)
- [Explaining ‘Load As Is’](http://www.marklogic.com/blog/loading-content/)
- [Can NoSQL Really So

[2017-11-21 21:30] sammefford commented on #854
On way to do this is to fork the cookbook example [BulkLoadFromJdbcWithSimpleJoins](https://github.com/marklogic/java-client-api/blob/develop/src/main/java/com/marklogic/client/example/cookbook/datamovement/BulkLoadFromJdbcWithSimpleJoins.java).  That comes with the dataset Employees with Salaries and Titles.  Using that and grouping on the "employee_id" unique key column, we can take data like th

[2017-11-21 22:03] sammefford commented on #792
I tried to duplicate this today, and I could not except when I pointed Java Client API 4.0.3 at ML Server 8.0-7.  That's not something we need to fix as it's just a matter of the test not matching the old error the server used to give.

@txpet, please re-open this if you can describe a scenario where you can duplicate this issue using 3.0.8 against 8.0-7 or 4.0.3 against 9.0-3.

[2017-11-21 22:20] sammefford commented on #692
After more consideration, the decision is to recommend customers upgrade to ML 9 to benefit from DMSDK.

[2017-11-21 23:13] jmakeig commented on #692
I understand the usefulness as customers transition to MarkLogic 9. However, even if the actual code changes are not the large, back-porting a significant capability like DMSDK is a very large testing and maintenance commitment. My inclination is that this investment would be much better spent in making it more attractive to upgrade to MarkLogic 9 (and eventually beyond).

@damonfeldman, let me kn

[2017-11-21 23:13] #692 closed

[2017-11-22 08:12] ammy1999 commented on #368
jersey-apache-client4-1.19.4.jar a child of spring-cloud-starter-ribbon , then jersey is automatically generated  but it is a high vulnerability of dependancy check , so How can I remove this dependency or remplace it ?? help please

[2017-11-22 15:25] txpet commented on #792
This is happening 4.0.3 against 9.0-3. Windows server 2012 R2 Java 1.8-u144

[2017-11-22 15:27] txpet commented on #792
Please upgrade this to major.

[2017-11-22 15:55] txpet opened #855 "ConnectException: Failed to connect to localhost/0:0:0:0:0:0:0:1:8010"
This is happening on java client api 4.0.3 and 9.0-3. Doesn't matter what I set context.mlserver to. I keep getting the reference to localhost in the stack trace. Please make this a high priority in that I cannot go to production until I can get this code working.

Below is the code:

[code]

Below is the log file:

[code]

[2017-11-22 16:44] sammefford commented on #855
@txpet, we'll look into this.  But if, as you say, this is impacting your ability to move into production, please work with support.  You can email support@marklogic.com if you haven't yet.  That's the best way to get the priority attention you need.

[2017-11-22 16:49] sammefford commented on #368
@ammy1999 please forgive my inability to understand.  If you need help with a dependency of spring-cloud-starter-ribbon, shouldn't you contact them?  That's not something we use or support...

[2017-11-22 17:25] ammy1999 commented on #368
ok   @sammefford  thank you

[2017-11-23 00:02] sammefford commented on #855
Can you share information about how ML Server is configured?  We need to make sure you have a REST server on port 8010 configured with digest auth to match your code.  You're not trying to do SSL, correct? Also, can you confirm how many nodes you have in your cluster and that each one has the REST server configured?  Can you share the hostname you see in the middle top of the red gui on port 8001

[2017-11-23 00:15] vivekmuniyandi commented on #855
In addition to all these, can you please confirm how the 'dataHubConfig' object is got. I think there should be a properties file from which the data hub configuration parameters should be got. If there is no such file, gradle.properties should be the default.

If you have set the mlHost in the properties file to localhost, this would happen.

From the stack trace, I am seeing that, it is trying t

[2017-11-27 19:51] ehennum commented on #846
Most of the lingering problems were fixed under #719 but I see that fragmentIdCol() is still missing @param.  Really, that's an XQY documentation bug, but the code generation should have a fallback.

[2017-11-29 19:02] sammefford opened #856 "DMSDK ingest with CDC from FileSystem"
Write a cookbook example demonstrating DMSDK ingestion from the file system with Change Data Capture (CDC).  Specifically, an ability to ingest all docs from a directory or all docs that have changed since the last run.  Also, some way to delete docs marked as deleted.

[2017-11-29 19:04] sammefford opened #857 "DMSDK with CDC Export to file system"
Cookbook example to demonstrate exporting to the file system with Change Data Capture (CDC).  Specifically, export everything matching a query, or only those which have changed since the last run.  Also, demonstrate how to delete docs that have been deleted in MarkLogic.

[2017-11-29 21:45] jmakeig commented on #60
Part of ENG-41

[2017-11-29 21:45] jmakeig commented on #62
Part of ENG-41

[2017-11-29 21:45] jmakeig commented on #61
Part of ENG-41

[2017-11-29 22:01] sammefford commented on #812
@kkanthet is this something QA could do?

[2017-11-30 01:56] ehennum commented on #846
Also fixed a bug in off-by-one alignment of param documentation for chained methods like joinInner()
 (a bug detected originally for the code generated for the Optic Node.js API).

Should cause no regressions and should remove the Maven warning for the fragmentIdCol() @param

[2017-11-30 15:29] derms commented on #534
FYI the above does not work for me.

I've been able to get it to work by explicitly calling the withRenamedHost method with the available hosts - i.e.

[code]

[2017-11-30 16:50] #497 closed

[2017-11-30 17:46] sammefford commented on #842
In the absence of a way to reproduce, we can't work on this

[2017-11-30 17:46] #842 closed

[2017-11-30 21:07] ehennum commented on #757
It sounds like our choices are to make PlanBuilderBase public or to show inherited methods inline.

Given that PlanBuilderBase is an implementation detail, it would be better to keep it obscure.

Refresh my memory -- is there a reason not to show inherited methods inline?

[2017-11-30 21:18] jmakeig commented on #757
Isn’t the JavaDoc default *not* to show inherited methods inline? If I’m reading this correctly, why are we trying to outmaneuver JavaDoc? Wouldn’t a Java developer familiar with JavaDoc not expect to see inherited members inline?

[2017-11-30 22:33] kcoleman-marklogic commented on #757
@jmakeig We have never shown the inherited methods inline in the Java Client API javadoc. (And, yes, I find it mildly annoying as a user.) I don't think we're deliberately perverting the javadoc in any way, though. We don't set many configuration options. It could be it's a peculiarity of the maven javadoc plugin, I suppose.

@ehennum The issue for me regarding the privitization of PlanBuilderBase

[2017-11-30 23:01] jmakeig commented on #757
Hey, that’s the title of my unfinished memoir.

[2017-12-01 00:51] ehennum commented on #757
Sending it your way, @sammefford, only to solicit a perspective on the alternatives above.

[2017-12-01 00:56] ehennum commented on #757
Taking it back -- I should have refreshed the page first.

@kcoleman-marklogic I believe only the JavaDoc is burying the inherited methods.  They are freely available to the Java application.  In other words, we're struggling because JavaDoc is more limited than Java.

Bother.  Frustrating to forced to publicize PlanBuilderBase (which is an implementation detail of PlanBuilder) just because JavaDo

[2017-12-01 16:46] janmichaelyu opened #858 "java.lang.IllegalArgumentException on dmm.startJob(batcher);"
[code]

[code]

[2017-12-01 16:49] ehennum commented on #757
Should expose the JavaDoc for the base methods without causing regressions.

If nothing else, this issue has revealed that @jmakeig takes a Marxist-Leninist view ("a problem with the class hierarchy")

[2017-12-01 16:49] janmichaelyu commented on #858
I'm digging into QueryBatcherImpl.initialize() and in the setCorePoolSize() it's throwing an exception when the parameter is less than the maximumPoolSize.

`    public void setCorePoolSize(int corePoolSize) {
        if (corePoolSize < 0 || maximumPoolSize < corePoolSize)
            throw new IllegalArgumentException();
`

Inside the initialize() method the maxValue is being set after the corePo

[2017-12-01 17:57] vivekmuniyandi commented on #858
[code]

In my source code, I don't see this. Also in the javadoc, I just checked for setCorePoolSize and it says they check for less than 0 for IllegalArgumentException.
[code]

I see something similar to what you say in setMaximumPoolSize.

[code]

Can you please let us know which version of Java are you using? Or am I missing something here? Please let us know. Thanks.

[2017-12-01 18:29] jmakeig opened #859 "Issue template"
https://github.com/blog/2111-issue-and-pull-request-templates

* Required info and how to get this information (e.g. `java -version`):
  * Java Client version
  * MarkLogic version
  * Java version (`java -version`)
  * OS and version
* Input: Some code to illustrate the problem, preferably in a state that can be independently reproduced on our end
* Actual output: What did you observe? Were there

[2017-12-01 19:02] sammefford opened #860 "Make NOTICE.txt in distribution come from LEGALNOTICES.TXT"
I'm just finding that the NOTICES.txt file in the distribution is pulling from src/main/resources/NOTICE.txt not LEGALNOTICES.TXT.  We can leave LEGALNOTICES.TXT in the root directory to be prominent and visible on github, but let's make sure it's included in the distribution.  Since it now includes all the licenses for dependencies, we no longer need ASL-v2_0.txt, CDDL-v1_1.txt, EPL-v1_0.txt, nor

[2017-12-01 19:51] janmichaelyu commented on #858
Hi,

I just checked and the java.base/java.util.concurrent.ThreadPoolExecutor.setCorePoolSize is on jdk-9.0.1.

Which JDK is QueryBatcher compatible?

[2017-12-01 19:57] jmakeig opened #861 "Document streaming behavior"
When I load a large file into MarkLogic, do I need to buffer it all into memory? How can I stream it to reduce memory overhead? In which cases does a write stream in which ones doesn’t it? Which Java I/O constructs to I need to use to affect this behavior?

[2017-12-01 19:58] vivekmuniyandi commented on #858
We haven't tested with JDK 9. All the tests currently run with JDK 8. I would suggest you to use that for now. We will address this when we test Java API's compatibility with JDK 9. Thanks.

[2017-12-01 19:58] janmichaelyu commented on #858
Thank you!

[2017-12-01 19:58] #858 closed

[2017-12-01 20:01] jmakeig opened #862 "Support Java 9"

[2017-12-01 20:01] jmakeig commented on #862
Came up in #858

[2017-12-01 20:02] vivekmuniyandi commented on #858
@sammefford Please reopen if you want to keep this open to track this issue when we test Java 9. It would be obvious when we test this against Java 9, as the basic QueryBatcher fails. Your call. Thanks.

[2017-12-01 20:03] sammefford commented on #858
Looks like Justin created #862, that will be fine

[2017-12-03 17:51] txpet commented on #855
Sorry for the delay, I was on vacation and did not see the message until this morning. Changing the gradle.properties file worked.

Thanks for your input.

[2017-12-03 18:17] #855 closed

[2017-12-04 16:38] sammefford opened #863 "Missing instructions to point unit tests to another host"
We need to update CONTRIBUTING.md to explain that changes need to be made to src/test/java/com/marklogic/client/test/Common.java and src/main/resources/Example.properties.

[2017-12-07 17:50] sammefford opened #864 "SearchFacetTest failing with XDMP-BOUNDS"
The fix for #804 needs to also be applied to the 3.0-develop branch.  This is simply a unit test failure, so not a critical issue.

[2017-12-07 18:04] sammefford commented on #864
Fixed in commit 68ce6e6

[2017-12-19 14:51] vivekmuniyandi commented on #829
I couldn't replicate this issue anymore.
https://github.com/marklogic/java-client-api/issues/798 - This should have solved this issue. The process goes on in an infinite loop. Looking at the client log, there is an exception during the retry and it keeps calling process failure forever.

[2017-12-19 15:32] vivekmuniyandi commented on #556
https://bugtrack.marklogic.com/47524

This is the bug which i have logged against the server. There is nothing really to do on the client side as the process gets hung on the server. Some locks were not getting released on certain scenarios and the process came out after the timeout. This should be gone once the server issue gets resolved.

[2017-12-20 03:20] vivekmuniyandi commented on #837
I am not able to replicate this issue anymore. Confirmed with @srinathgit that the nightly runs are also fine and they no longer see this.

[2017-12-20 03:20] #837 closed

[2017-12-20 19:35] georgeajit opened #865 "FailedRequestTest.testErrorOnNonREST() failure seems to indicate underlying server security /access changes."
The test uses ```rest-writer``` user to read properties on app server and assert fails. Seems like MarkLogic server security/privileges have been tightened and REST layer needs changes on MarkLogic trunk.

The test started failing from build MarkLogic-10.0-20171219.x86_64.rpm on the Jenkins Job.

[code]
public class Common {
  final public static String USER= "rest-writer";
  final public static S

[2017-12-20 22:12] ehennum commented on #865
Never mind the churn -- I was trying to reproduce with a 12/18 build instead of a 12/19 build.

[2017-12-21 00:41] georgeajit opened #866 "Java optic API should be able to typecast nodes returned to AnyAtomicTypeExpr"
For
[code]
Should be able to cast to numeric type such as

```p.xs.numeric((p.as("nodes", p.xpath("doc", "//latLonPair/lat/"))``` or
```p.fn.number(......)```

[2017-12-22 16:38] sammefford opened #867 "rowRecord.getString("firstName") returns ...OkHttpServices$OkHttpServiceResult@4dd663d5"
Where I expected to get the value of the firstName column extracted by xpath, I'm getting an OkHttpServiceResult object, which has an undesirable toString.  Notice the "firstName: com.marklogic.client.impl.OkHttpServices$OkHttpServiceResult@1b2283a" in the output below.  Can you help me see what I'm doing wrong?

With the following Java:

[code]

I get the following output:
[code]

And the followi

[2017-12-27 22:00] sammefford opened #868 "Support streaming eval"
Right now the ServerEvaluationCall methods eval(AbstractReadHandle) and evalAs(Class) don't support streaming.  That might be ok if eval() did, but since it is usually parsing a multipart response, it can't until [OkHttp 4](https://github.com/square/okhttp/issues/3394).

[2017-12-28 00:12] sammefford commented on #867
Looks like it's not something that broke with the 4.0.2 migration to OkHttp.  I get a very similar result with marklogic-client-api-4.0.1:

[code]

[2017-12-28 16:52] sammefford commented on #867
When I get the values this way it works as expected:

      System.out.println("firstName: " + row.getContentAs("firstName", String.class) +
                         ", uri: " + row.getString("uri"));

Doesn't it seem a bit strange that I can't get both string columns using getString?

[2018-01-01 21:16] sammefford commented on #499
Is this resolved by https://github.com/marklogic-community/ml-gradle/wiki/Exporting-data#exporting-data-to-a-zip?

[2018-01-02 16:05] jmakeig commented on #499
Enough for now.

[2018-01-02 16:05] #499 closed

[2018-01-02 22:38] georgeajit opened #870 "Automate some extreme (stress) scenarios for handling export to tableau files"
This is task is to track (write) some stress test scenarios for handling export to tableau files. Outputs would be such as (not a complete list):
Optic /sql to export to tableau file
series of named XPaths into a doc to tableau file

[2018-01-02 22:50] ehennum commented on #867
The XPath returns a text node, not a string.

@sammefford, does it work to access the firstName as a text node using a StringHandle?

It should also work to convert the text node to a string by wrapping the op.xpath() call with an op.fn.string() call, but the types are too restrictive at present (as noted in #866).

It's a reasonable RFE to support an atomic getter for boolean, number, and text no

[2018-01-02 23:43] ehennum commented on #866
Either of the following idioms solve the datatyping issue:

    p.fn.number(p.fn.string(p.fn.head(p.xpath(...))))
    p.xs.numeric(p.fn.string(p.fn.head(p.xpath(...))))

That is, Java strong typing poses two issues for this conversion:

1.  p.xpath() returns a sequence, but fn.number() only takes a single value (like fn.string(), for that matter).
2.  p.xpath() returns nodes, but fn.number() only

[2018-01-02 23:55] ehennum commented on #865
Is this still an issue?  I just tried at the REST API level on trunk, and the following worked just fine:

    curl -i --anyauth --user rest-writer:x -X GET -H "Accept: application/xml" http://localhost:8000/v1/config/properties

[2018-01-03 15:26] sammefford commented on #866
@ehennum I think I'm on-board, but I'd like to understand better.

@georgeajit could you share a complete code example including sample data and a full Optic Query and desired and actual results?

[2018-01-03 17:35] ehennum commented on #866
@sammefford, the datatype issue manifests statically (that is, in the IDE edit buffer or at compile time) rather than at run time.

Some more mulling:  Java provides the cast operator for overriding strong typing.  Because we're enforcing strong typing on the xs.*(), fn.number(), and fn.string() casting functions, we don't provide that escape hatch for building plans. That reasoning argues that we

[2018-01-03 18:01] sammefford commented on #867
I think the answer is yes, since under the hood getContentAs(name, String.class) uses a StringHandle.  I don't understand, however, why that matters.

[2018-01-03 18:41] ehennum commented on #867
It matters because the node returned by the XPath might not be a text node.

Some corrections and additional specifics:

*  The serialization on the server converts Boolean and Number nodes to xs:boolean and xs:double values.  So, the client doesn't have to worry about those cases.

*  A text node will have a content-type of text/plain; charset=utf-8

So the fix proposed in 869 would only need one

[2018-01-03 18:58] sammefford commented on #867
Ok, I get it.  Thanks for the clarification.  Yes, that seems like the correct resolution.  I'll add that to my PR.

[2018-01-03 19:27] kcoleman-marklogic opened #871 "patchbuilder gens invalid JSON patch for applyLibraryValues"
If you build a JSON patch descriptor that uses PatchBuilder.applyLibraryValues, the resulting patch descriptor uses the property name "value" instead of "$value" when passing the values. The patch is OK if there are no user-supplied parameters involved.

For example, this code:
[code]
Generates the following patch. Notice the items of the "content" array near the end of the "min" replace descripto

[2018-01-03 23:01] sammefford commented on #799
Comment from @itsshivaverma: "I think this is resolved now since we have moved to nexus and brand new build scripts. Feel free to assign it back to me if you are seeing any more issues"

[2018-01-04 00:28] ehennum commented on #866
The fix relaxes the xs.*(), fn.number(), fn.string(), and sem.iri() casting functions to take an ItemSeqExpr, which is the base type for NodeSeqExpr and thus allows casting functions to be applied to the return value from op.xpath().

[2018-01-04 00:30] ehennum commented on #867
Reassigning to shamelessly exploit Sam's generous offer to fix the issue - thanks heaps.

[2018-01-04 03:34] sammefford commented on #867
@ehennum the question I have remaining is whether I can directly change RowManagerImpl or if it's partially auto-generated.  Do you know off-hand?

[2018-01-04 18:05] ehennum commented on #867
@sammefford, RowManagerImpl is manually maintained.  All of the generated sources should have a comment to that effect before the class or interface.

[2018-01-04 19:45] kcoleman-marklogic opened #872 "Update copyright to 2018"
The pom.xml on develop, 4.0-master, etc. needs to be updated to use 2018 in the javadoc copyright. Until it is, any javadoc we release, such as with 9.0-4 or 8.0-8, will show a 2017 copyright.

In theory, this can be done for 4.0.4. In practice, it'd be very nice indeed to get it done before 9.0-4.

[2018-01-10 19:00] kkanthet opened #873 "Add License.txt to include opensource licenses"
https://bugtrack.marklogic.com/48719

So we can address your issue, please include the following:
* Version of MarkLogic Java Client API (see Readme.txt)
* Version of MarkLogic Server (see admin gui on port 8001)
* Java version (`java -version`)
* OS and version
* Input: Some code to illustrate the problem, preferably in a state that can be independently reproduced on our end
* Actual output: What

[2018-01-10 21:11] georgeajit commented on #867
Refer to #866 for shipping this issue.

[2018-01-14 20:06] hansenmc opened #874 "Change EvalResultIterator to implement java.io.Closeable"
Given the note in the JavaDocs for the ServerEvalIuationCall that the [EvalResultIterator must be closed](https://github.com/marklogic/java-client-api/blob/4.0-master/src/main/java/com/marklogic/client/eval/ServerEvaluationCall.java#L103)

it would be useful if EvalResultIterator implemented java.io.Closeable.

If the EvalResultIterator implemented **Closeable**, it would be possible to use t[ry-w

[2018-01-15 16:28] #829 closed

[2018-01-15 16:30] #556 closed

[2018-01-16 00:57] sammefford commented on #874
Ajit, I made sure EvalTest runs w/out problem. If regression runs fine, I think we can ship this.

[2018-01-16 17:12] sammefford commented on #865
This is still failing in Jenkins.  You can verify by using port 8001:

[code]

The test verifies that we get a certain response when we connect to the wrong port (a non-REST port).  It appears the error message and status have changed.  However, I believe we should have a 403 status code rather than the 500 we're now getting.

[2018-01-17 00:50] sammefford commented on #364
An internal write-up on support for load balancers can be referenced here: https://wiki.marklogic.com/display/ENGINEERING/Client+API+Support+for+Load+Balancer+Server+Affinity

That might help describe what we think we should do.

[2018-01-17 00:55] sammefford opened #876 "Rename "test-complete" folder"
The "test-complete" folder name was supposed to be temporary.  I'm not sure what to call it, but perhaps the name should reflect that it contains our regression tests.

[2018-01-17 00:56] sammefford opened #877 "Use gradle rather than maven"
To be consistent with the regression tests and common best practice, we should use gradle rather than maven.

[2018-01-17 17:45] #5 closed

[2018-01-17 18:05] sammefford commented on #868
The problem with eval(AbstractReadHandle) and evalAs(Class) is that they need to get the HTTP response closed, so they do it pre-emptively which closes the underlying streams that could have allowed for streaming (see #725).  There is a way to enable streaming here, but it's a bit tricky.  We would need to identify all handles that can stream, and wrap what they return so its close method also clo

[2018-01-17 18:21] sammefford commented on #861
In order to document streaming behavior, I think we need to test it so we have confidence about what works and what doesn't.  I'd recommend we do the work in priority order.  @jmakeig please update this list to the priority as you see it:

* single doc read / write
* bulk read / write
* DMSDK get uris
* search
* values
* optic responses
* REST extensions
* SPARQL responses (optic provides an alter

[2018-01-18 18:47] sammefford opened #878 "Fix minor typo in NoResponseListener docs"
https://docs.marklogic.com/guide/java/data-movement#id_26583

In the code example, txListener should be txformListener, right?

[2018-01-22 17:11] aebadirad opened #879 "QueryBatcher under utilizes threadpool"
Version: 4.0.3
ML Version: 9.03-1 and 9.04
Java Version: Oracle 9.0.1
OS: Windows 10.1

**Input:** Passing a list of 1,000 or more URIs to `QueryBatcher` (can also just DHF quickstart - online store example against a cluster with 16 threads at batches of 50 to see the behavior)

**Actual output:** Java logs indicate WAITING on multiple threads, initial calls go out as expected, using the full thre

[2018-01-22 17:47] sammefford opened #880 "Use telemetry to track thread pool usage"
Based on #879 we can see that the QueryBatcher(Iterator) thread pool is under utilized because of the ThreadPoolExectutor.CallerRunsPolicy and the caller thread being tied up running some batches rather than keeping the queue populated.  Increasing the queue size from (threadCount * 5) to (threadCount * 50) resolves the issue in the scenario we've tested.  However, we're not sure that is the right

[2018-01-22 20:55] aebadirad commented on #879
Extracting this to it's own directory and running gradle hubInit, then supply a valid mlhost/user/pass in gradle.properties and then running gradle --Pprofile doAll will execute the performance-test suite that is used for performancing testing DHF (which relies directly on this as a library):
[performance-sample.zip](https://github.com/marklogic/java-client-api/files/1653551/performance-sample.zip

[2018-01-23 00:14] sammefford opened #881 "Remove CallerRunsPolicy from QueryBatcherImpl"
[`QueryBatcherImpl`](https://github.com/marklogic/java-client-api/blob/4.0-master/src/main/java/com/marklogic/client/datamovement/impl/QueryBatcherImpl.java) supports two scenarios: query or iterator.

For an Iterator `QueryBatcherImpl` will queue up the values from the `Iterator` as tasks to process (via listeners) as quickly as possible.   This could quickly run us out of memory if the processin

[2018-01-23 22:00] sammefford commented on #859
@jmakeig any feedback, or is this good as-is?

[2018-01-23 22:02] sammefford commented on #474
@georgeajit as long as this didn't create any issues in unit tests, I think we're good on this

[2018-01-23 23:36] jmakeig commented on #859
Suggestions:

* Show the actual commands to get the relevant software versions on Windows, macOS, and Linux
* Restructure the bullets into section headers, so it’s more like a template than a checklist

[2018-01-24 16:38] sammefford opened #882 "Enhancements for Listeners"
As we develop TableauDataExtractOutput and ExtractViaTemplateListener to feed it, we noticed some enhancements that could really help with Listener development (including #614):

[code]

[2018-01-24 19:51] sammefford opened #883 ""This instance has been stopped" in WriteBatcherTest"
* Version of MarkLogic Java Client API: _develop branch_
* Version of MarkLogic Server: _10.0-20180115_
* Java version: 1.8.0_161-b12
* OS and version: Win7 SP1
* Input: mvn test -Dtest=WriteBatcherTest
* Actual output:
[code]
* Expected output: no exceptions unless it's explicit in the output that the exception is expected

[2018-01-25 21:53] sammefford commented on #879
The short-term fix was to increase the queue size (will use more memory) in QueryBatcher so the thread stepping through the Iterator and feeding the queue won't be distracted as often running batches because of the use of ThreadPoolExecutor.CallerRunsPolicy.  This way that thread can spend more of its time feeding the queue so more threads will stay fully utilized as the queue is less likely to ge

[2018-01-25 22:38] georgeajit commented on #474
Don't see any regressions as of now (01/25/2018) on the develop branch. Shipping this issue.

[2018-01-25 23:34] #879 closed

[2018-01-31 00:18] vivekmuniyandi commented on #832
I tested this and I couldn't replicate this anymore. All I get is the job getting stopped and the process exits without any hangs.

[2018-01-31 19:55] ehennum commented on #865
Filed an internal bug on 8001 because this issue is not specific to the Java API.

[2018-01-31 22:58] vivekmuniyandi commented on #792
I reopened this in order to investigate an issue in one of the regression machines. There were connection issues in the machine which led to this problem and having a proper app server, the test passes without any errors.

@txpet please open a new issue with all the details if you still see this issue.

[2018-02-01 17:14] sammefford commented on #300
In order to document streaming behavior, I think we need to test it so we have confidence about what works and what doesn't. I'd recommend we do the work in priority order. @jmakeig please update this list to the priority as you see it:

single doc read / write
bulk read / write
DMSDK get uris
search
values
optic responses
REST extensions
SPARQL responses (optic provides an alternative way to exec

[2018-02-01 17:15] sammefford commented on #861
Dup of #300

[2018-02-01 17:15] #861 closed

[2018-02-01 17:56] sammefford commented on #268
Now that we have an extensive library of types for Optic API, we should try to use those same types.

[2018-02-01 17:57] #498 closed

[2018-02-02 02:43] vivekmuniyandi commented on #883
@sammefford I'm not sure what needs to be done here. "flushAndWait threw expected exception since stopJob was called first" and the output says it's expected. Also, from the code, it catches the IllegalStateException and writes this message. Please let me know what I am missing. Thanks.

[2018-02-02 19:23] georgeajit opened #884 "Type.STRING is not recognized in TableauDataExtractWriterTest file"
* Version of MarkLogic Java Client API : Branch issue839
* Version of MarkLogic Server : 9.0 Nightly server (9.0-20180130)
* Java version: Java 8
* OS and version : Windows with Eclipse IDE
* Tableau Extract API for Windows Zip download (filename) : Tableau-SDK-C-Java-64Bit-10-3-7.zip

Checked out ```issue839``` branch and imported as an existing maven project and built the project using the POM.

[2018-02-02 19:39] georgeajit commented on #884
I see that there are two TableauDataExtractWriterTest files.

```package com.marklogic.client.moveToCommunity;```
and
```package com.marklogic.client.test.moveToCommunity;```

The above reported issue is in ```package com.marklogic.client.moveToCommunity;```

[2018-02-03 00:00] sammefford commented on #884
Thanks for the find guys!  I had a change on my machine to remove that file that I didn't commit or push because I had never added that file, so I thought nobody else would see it.  In any case, I've removed it in commit dd766f19003210c0ac5386d5447820f043f30611

[2018-02-03 00:12] sammefford commented on #883
You're seeing the wrong exception.  This exception is intermittent (I don't always see it).  I'm just trying to capture what I saw.  Well, kinda. I had a full stack trace when I started creating this, but somehow I lost it and couldn't reproduce with a stack trace, that's why this report only has the one line error.  If you're not seeing that error you perhaps had a clean run.

In any case, my con

[2018-02-05 06:25] DALDEI commented on #779
Several things not mentioned here.
XCC (generally) does not incur any server side interpreted (xquery / JS) calls even when connected to a 'normal' app server port (like 8000).   Pure XDBC ports have even less code invovled.
The XML rewriter directs the XDBC protocol to a few special internal endpoints which flow directly through C++ code to do document insert / update / delete ( query/eval obviou

[2018-02-05 19:42] sammefford opened #885 "Expose all SecurityContext details via getters"
We need to allow applications to get from a DatabaseClient everything that went into it.  Specifically, we currently don't expose a way to to get the X509TrustManager provided to SecurityContext.  I'm not sure what else we might not be exposing.

[2018-02-05 20:00] sammefford commented on #885
This issue was by @paxtonhare who requested access to the HostnameVerifierAdapter in OkHttpServices because he has no way to create his own direct connection to MarkLogic using just the information provided by DatabaseClient.  Given the function of HostnameVerifierAdapter to translate  SSLHostnameVerifier to the more standard javax.net.ssl.HostnameVerifier, and the need for that to create a valid

[2018-02-06 18:04] #579 closed

[2018-02-06 18:04] #596 closed

[2018-02-06 18:04] #639 closed

[2018-02-06 18:04] #666 closed

[2018-02-06 18:04] #668 closed

[2018-02-06 18:04] #690 closed

[2018-02-06 18:04] #709 closed

[2018-02-06 18:04] #740 closed

[2018-02-06 18:04] #744 closed

[2018-02-06 18:04] #752 closed

[2018-02-06 18:04] #768 closed

[2018-02-06 18:04] #785 closed

[2018-02-06 18:04] #787 closed

[2018-02-06 18:04] #798 closed

[2018-02-06 18:04] #801 closed

[2018-02-06 18:04] #807 closed

[2018-02-06 18:04] #811 closed

[2018-02-06 18:04] #813 closed

[2018-02-06 18:04] #814 closed

[2018-02-06 18:04] #816 closed

[2018-02-06 18:04] #818 closed

[2018-02-06 18:04] #822 closed

[2018-02-06 18:04] #825 closed

[2018-02-06 18:04] #834 closed

[2018-02-06 18:04] #838 closed

[2018-02-06 18:04] #504 closed

[2018-02-06 18:04] #523 closed

[2018-02-06 18:04] #526 closed

[2018-02-06 18:04] #557 closed

[2018-02-06 18:04] #570 closed

[2018-02-06 18:04] #577 closed

[2018-02-06 18:47] vivekmuniyandi opened #886 "Add gradle tasks for cook book examples and make it a tool"
After converting the maven project to gradle #877 - we can define gradle tasks to call the existing DMSDK cookbook examples to actually perform operations like a tool rather than serving as a cook book example. Have the customer give in arguments and execute things as a tool

[2018-02-06 19:35] georgeajit opened #887 "Tableau Extract requires PATH to be set to bin folder of the extracted client jars' folder"
Extracted the client Jars of Tableau 10.3.7 into a local folder on Windows laptop. Setup a project in Eclipse IDE with Tableau Jars externally linked to the project. Ran the attached test.

The test threw an exception message stating
[code]
The following help pages indicate that we need to add the path to ```bin``` of the Tableau client Jar extracted folder to the environment variable.
http://onli

[2018-02-06 21:30] sammefford commented on #887
Thanks for logging this, @georgeajit .  Hopefully when people find this page in Google they'll see what you did to resolve it.  @vivekmuniyandi can you make sure that link is in our javadocs?  That is one of the steps to set up the tableau API.  I'm not sure it makes sense for us to be in charge of telling people how to do that, it seems best for us to link customers to tableau docs on that topic.

[2018-02-06 23:56] sammefford commented on #883
As we discussed, I was running against a 3-node cluster with the db created by the unit test bootstrap script, I don't know if that makes a difference.

I agree that my original error message is the wrong one because it says "expected".

Here are a couple more error messages I'm seeing that don't look ideal:

    1148 15:39:33.748 [pool-9-thread-1] WARN  c.m.c.d.impl.WriteBatcherImpl - Error writi

[2018-02-06 23:57] sammefford commented on #883
Here's another:

    1618 15:39:39.566 [pool-19-thread-1] WARN  c.m.c.d.impl.WriteBatcherImpl - Error writing batch: com.marklogic.client.FailedRequestException: Local message: failed to apply resource at document     s: Bad Request. Server Message: XDMP-JSONDOC: xdmp:get-request-part-body("json") -- Document is not JSON

[2018-02-06 23:59] sammefford commented on #883
Attaching the full test log:
[log.txt](https://github.com/marklogic/java-client-api/files/1701234/log.txt)

[2018-02-07 22:10] sammefford opened #888 "Add to ExtractViaTemplateListener an ability to use template from the filesystem"
* Version of MarkLogic Java Client API: 9.0.4

Currently ExtractViaTemplateListener has withTemplate(String templateUri) method which accepts the uri to a template in MarkLogic server.  Some may want to point to a file on the Filesystem.  We could add with Template(File templateFile) which would read the template from the client file system, upload it to MarkLogic Server with a temporary UUID uri,

[2018-02-07 23:46] vivekmuniyandi commented on #883
@sammefford All these are valid tests and there is nothing to be worried about. The Warnings happen only when the stop job is called or we purposely send an XML string as JSON in order to trigger the failure scenarios and test them. I went through all the WARN messages and everything looked valid and nothing seemed to be wrong. Thanks.

[2018-02-08 00:28] sammefford commented on #883
ok, thanks for verifying. Sorry for the noise.

[2018-02-08 21:39] #883 closed

[2018-02-09 17:44] sammefford commented on #766
@tdiepenbrock how can you guarantee that only trusted applications can connect to MarkLogic?  The only ways I can think of are client-SSL-cert or Kerberos.  Most other solutions could easily be spoofed from the command-line or a nefarious app running on the same machine which normally runs the MarkLogic Java Client.  In other words, if a firewall only allows connections from the host where the Mar

[2018-02-09 22:02] georgeajit opened #889 "ExtractViaTemplateListener throws MarkLogicIOException when multiple templates, responses"
A test with templates loaded and multiple data files was run, expecting rows of data to be exported as a Tableau data extract file. But the test throws an exception.

The data files and templates used in this test are available in the ```test-complete``` project under the ```data\optics``` folder. Use Java client API's ```DocumentManager.writeAs(...)``` method to write the template and docs into a

[2018-02-09 22:03] georgeajit commented on #889
This the output I see from MarkLogic QConsole:
[code]

[2018-02-09 22:05] georgeajit commented on #889
[code]

[2018-02-09 22:07] georgeajit commented on #889
The above two comments contain the output and the JavaScript code (not pretty!) for reference, if there is a need to run them again in the Query Console.

[2018-02-12 21:15] rjrudin opened #890 "Accessing a database that isn't the REST server's default database can lead to unpredictable results"
* Java Client version - 4.0.3.1 (verified on 4.0.3 and 4.0.2 as well)
* ML version - verified on 9.0-3 and 9.0-4
* Java version - 1.8u131
* Mac 10.12.6

From a fresh ML install, run the following script in qconsole for both Documents and Triggers:

    for $i in 1 to 25000
    return xdmp:document-insert("/test/" || $i || ".xml", <hello>{$i}</hello>, (), "test")

Then, run this program with Docume

[2018-02-12 23:45] vivekmuniyandi commented on #890
Filed a bug against REST API for the same. https://bugtrack.marklogic.com/49116

We pass in the required options but it is somehow getting missed

With DB

/v1/internal/uris?structuredQuery=<query xmlns="http://marklogic.com/appservices/search" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:search="http://marklogic.com/appservices/search" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

[2018-02-13 01:23] vivekmuniyandi opened #891 "Call the listeners close method when stopJob is called."
It is the responsibility of the QueryBatcher and the WriteBatcher to call any close() methods of the listeners registered with them. If the listeners had to close any resources, they can implement AutoCloseable interface and close the resources in the close() method. QueryBatcher and WriteBatcher would iterate all the listeners and call any close() methods when stopJob is called on the batcher.

S

[2018-02-14 15:28] ehennum commented on #376
For consideration, balancing other objectives.

[2018-02-14 19:54] vivekmuniyandi commented on #891
### For QA

Added private method closeAllListeners to both WriteBatcher and QueryBatcher which would close all the listeners (both success and failure listeners) if they are instances of AutoCloseable by calling the close() method of the listeners. This is done when stopJob() is called on the Batcher.

### For Docs
We take care of calling the close() method of the listeners which are registered wi

[2018-02-16 19:37] vivekmuniyandi opened #892 "Investigate okHttp cookie and remove NewCookie"
Remove the NewCookie and replace it with OKhttp cookie because NewCookie requires an implementation of RuntimeDelegate class and we have a mock implementation which returns null. For customers who use a Jersey client, the client tries to find an implementation of RuntimeDelegate and our implementation comes up thereby throwing NullPointerException.

Investigate on OKhttp cookie and replace NewCook

[2018-02-19 01:03] rjrudin opened #893 "Configure WriteBatcher to periodically flush itself"
In an environment like Apache Nifi, it's very useful to instantiate a `WriteBatcher` for other processors to send data to. So e.g. as files are read from disk or messages from a JMS queue, they can be handed off to a Nifi processor that uses `WriteBatcher` to perform batched writes to MarkLogic.

There's one catch though - that Nifi processor doesn't typically know when "all" the messages have bee

[2018-02-19 20:19] jmakeig commented on #893
Is there a workaround today to implement the timer in calling application?

[2018-02-20 13:12] rjrudin commented on #893
I've been going back and forth on whether this should be a concern of DMSDK or not. I found a workaround with NiFi - there's a concept of "trigger this processor even when there's nothing to process", and that provides a hook for calling flushAsync periodically.

In theory, any sort of event-based framework like Camel/NiFi/etc will provide some workaround like this. So I'm going to close this for

[2018-02-20 13:12] #893 closed

[2018-02-20 17:35] jmakeig commented on #893
One could argue that DMSDK can’t know when work is done and that’s the exclusive job of the caller, who presumably manages the other aspects of the stream as well. That nuance is subtle and easy to forget to handle in the caller, though.

[2018-02-20 17:38] ehennum commented on #865
The internal bug got pushed out of 9.0-5, so I pushed this dependent bug as well.

[2018-02-21 18:38] georgeajit opened #894 "Resource leak reported in WriteRowToTableauConsumer constructor"
* Version of MarkLogic Java Client API: issue 839
* Version of MarkLogic Server : MarkLogic Server Build 10 (Trunk as of 02/21/2018)
* Java version (`java -version`): 1.8 on Eclipse IDE
* OS and version: Windows
* Input:
Have the following code to get an instance of ```WriteRowToTableauConsumer```
[code]

* Actual output: Eclipse reports ```Resource leak: '<unassigned Closeable value>' is never cl

[2018-02-21 18:58] vivekmuniyandi commented on #894
This is not an actual resource leak. It is a false warning. If you break down the code to use without chaining, the warning does go away. It is a memory leak if withColumn returns a new instance instead of 'this' which in this case returns 'this' only. We close the Consumer in the ExtractViaTemplateListener's close method which is closed automatically by QueryBatcher - #891

[2018-02-21 18:58] #894 closed

[2018-02-23 17:04] vivekmuniyandi commented on #854
Moving to 4.0.5 as there is no room for this in 4.0.4

[2018-02-23 18:07] popzip opened #896 "Update Open Source Support language"
Please refer to updated text for DHF, included below as point of reference. Key changes are to say "made available under...", reference "TechnicalSupport Handbook". Change anything specific to another product (eg DHF). The rest should be pretty boilerplate/straight copy paste.

use Support.md attachment from internal wiki on "Open Development and Open Source"

[2018-02-23 21:25] georgeajit commented on #884
Use ```Type.UNICODE_STRING```. The tests are corrected.

[2018-02-27 22:58] vivekmuniyandi opened #897 "Update dependencies for the release"
Update all the dependencies to the latest version

[2018-02-28 04:05] vivekmuniyandi opened #898 "ExtractViaTemplateListener returns empty rows for non matching URIs"
ExtractViaTemplateListener returns empty rows for URIs not matching the template. We throw an IOException and we don't handle this.

QA:
We need to handle a scenario such as this in the functional tests.

[2018-02-28 20:36] vivekmuniyandi commented on #877
https://github.com/marklogic/java-client-api/pull/895 - The develop branch has the changes.

QA:

Please run all the tests - both unit and functional with both 9.0 and 10.0. The pom.xml is still not removed. We can remove it later once we confirm that all the jars generated are same. Thanks!

[2018-02-28 20:44] vivekmuniyandi commented on #647
### QA and Docs:

Have added an overload in WriteBatcher for adding a DocumentWriteOperation

WriteBatcher add(DocumentWriteOperation writeOperation);

[2018-02-28 20:45] vivekmuniyandi commented on #647
@georgeajit please assign to Srinath if he is the one responsible for DMSDK. I am not sure who is responsible. Hence I assigned it to you. Thanks.

[2018-02-28 23:28] vivekmuniyandi commented on #892
### QA:

There is nothing new added in this. Just that the underlying implementation of Cookie has been moved from NewCookie to Okhttp cookie thus removing the need for the Mock RuntimeDelegation class. Have removed that as well.

[2018-03-01 05:49] itsshivaverma opened #899 "build failing"
tried ./gradlew publish:

Logs:

21:44:02 Wed Feb 28 21:44:02 PST 2018 [DEBUG]: git clone -b develop https://github.com/marklogic/java-client-api.git java-client-api
21:44:02 /usr/bin/git
21:44:02 git version 1.8.3.1
21:44:08 Wed Feb 28 21:44:07 PST 2018 [DEBUG]: Executing command: cd /space/builder/builds/linux64/develop/java-client-api
21:44:08 Wed Feb 28 21:44:07 PST 2018 [DEBUG]: cd /space/bui

[2018-03-01 09:55] vivekmuniyandi commented on #899
Shiva,

The build failed because of javadoc. The name in the javadoc was not equal to the function parameter. I will commit the changes now. You should be able to do a ./gradlew publish after that. Also for generating the zip with dependencies, we need to run ./gradlew distZip. Let me know if it goes through. Thanks.

[2018-03-01 18:07] grechaw commented on #899
For publishing snapshots I'd highly recommend skipping javadoc creation.  It takes a very long time for the Java Client API.    We also do not need snapshots of the jar with dependencies.  Might as well head off the huge disk space ballooning early.

Charles Greer
Lead Engineer
MarkLogic Corporation
cgreer@marklogic.com
Cell:  +1 707 318 0442
@grechaw
www.marklogic.com

___________________________

[2018-03-01 18:43] kcoleman-marklogic commented on #899
Vivek, I already sent you mail about this, but just to the info where it belongs:

I need a way to override the javadoc title at javadoc build time. The default configuration appends "SNAPSHOT", which is not OK for the docs, so the doc build builds its own and stomps the javadoc title.

With maven, I could do this by adding something like  `-Djavadoc-title="${project.name} $VERSION"` to the maven

[2018-03-02 01:26] hansenmc commented on #899
@kcoleman-marklogic the JavaDoc title is concatenating the `describedName` and `version` project properties:

    options.docTitle = "$rootProject.describedName $rootProject.version"

The `$rootProject.version` is set in the `gradle.properties` as `5.0-SNAPSHOT` at the root of the project, but you can override that value on the commandline:

    ./gradlew javadoc -Pversion=5.0

[2018-03-02 01:32] kcoleman-marklogic commented on #899
Yes, I believe that's the result of the change Vivek made about an ago for my sake.  It appears to be working swimmingly.

BTW, shouldn't the default version on develop be 4.0.4 right now rather than 5.0? There's no 4.0-develop branch, so I certainly hope so!

[2018-03-02 16:03] kcoleman-marklogic commented on #899
@vivekmuniyandi Is there a way in gradle to give the JVM more memory when it generates the javadoc? It's running out during the automated doc build.

I forgot we ran into this problem before. You can see how Sam got around it in the maven build here:

https://github.com/marklogic/java-client-api/blob/b3b618ca5f5bf2362b337fbd06c5633123ee5587/pom.xml#L91

[2018-03-02 17:34] vivekmuniyandi commented on #899
@kcoleman-marklogic I will look into it today and make the changes. Thanks!

[2018-03-06 21:17] georgeajit opened #900 "ExtractedItem from a search summary seems to contain element qualifier"
* Version of MarkLogic Java Client API (see Readme.txt) : develop
* Version of MarkLogic Server (see admin gui on port 8001) : 9.0 nightly build
* Java version (`java -version`): Java 1.8
* OS and version : All platforms
* Input: Some code to illustrate the problem, preferably in a state that can be independently reproduced on our end. Test code is at the end of the issue.
* Actual output: ```Extr

[2018-03-08 19:23] vivekmuniyandi opened #901 "Add datatype to all subinterfaces of XsAnyAtomicTypeExpr"
// add a static final DATATYPE field to all subinterfaces of XsAnyAtomicTypeExpr
// containing the string returned by RowRecord.getDatatype for any column of that type.
XsStringVal {
  String DATATYPE = "xs:string"
}

[2018-03-08 19:23] vivekmuniyandi commented on #882
Created #901 for the last part.

[2018-03-08 21:32] vivekmuniyandi commented on #898
## QA

Need to add a test confirming empty rows in the middle and the last in the functional tests.

[2018-03-09 18:02] kcoleman-marklogic opened #903 "javadoc build failing on develop"
There's an angle bracket that needs to be encoded near the end of this line:

https://github.com/marklogic/java-client-api/blob/9fb5ad3279302fe37f5b88b7f5dc16a3b089278e/marklogic-client-api/src/main/java/com/marklogic/client/example/cookbook/datamovement/ExtractViaTemplateListener.java#L57

Just like in XML, you'll need to encode it as `&gt;`.

[2018-03-09 18:07] kcoleman-marklogic commented on #903
(And while you're at it... That block should really get wrapped in an @code tag. Like the example here:

https://github.com/marklogic/java-client-api/blob/9fb5ad3279302fe37f5b88b7f5dc16a3b089278e/marklogic-client-api/src/main/java/com/marklogic/client/datamovement/DataMovementManager.java#L43-L50

Without that, the newlines get discarded, I believe.)

[2018-03-09 18:15] vivekmuniyandi commented on #903
Thanks Kim! Will make the changes today and let you know. Thanks!

[2018-03-09 18:29] vivekmuniyandi commented on #882
## QA and Docs
Added new listener capability to include listeners on completion. One may want to include listeners to run them after the job is completed. (Please note that this is implemented just in QueryBatcher and for WriteBatcher is targeted for next release). We have created generic `QueryBatcherListener` to add listeners which act at the Batcher level and we use that listener to register he

[2018-03-12 17:16] kcoleman-marklogic commented on #903
It's working now. Thanks!

[2018-03-12 18:23] georgeajit commented on #792
The test is passing on Linux builds as of 03/11/2017.

[2018-03-12 23:11] vivekmuniyandi opened #904 "port 879 fix on to develop"
Have the fix of #879 in develop to include in 4.0.4. We will find a permanant solution by 4.0.5 through #881. And we will remove the temporary solution once we have the permanant fix in place.

[2018-03-14 07:33] vivekmuniyandi commented on #872
Sorry @kcoleman-marklogic I couldn't get to it previously. please check and let me know!

Added this [commit](https://github.com/marklogic/java-client-api/commit/91549afbb5b4566fefdfca494fa7c64962592a60)

[2018-03-14 07:34] vivekmuniyandi commented on #872
@georgeajit please go through the commit and let me know if you see anything odd except for the copyright changes. Thanks.

[2018-03-14 16:30] kcoleman-marklogic commented on #872
I checked the copyright on the 4.0.4 javadoc on pubs this morning. It looks good.

@vivekmuniyandi Did you also change it on 3.0-develop? At least as far as the javadoc goes, it doesn't matter if we don't plan to ever release off that branch again, and it is certainly not urgent.

[2018-03-16 20:44] vivekmuniyandi commented on #780
Found from the code that this is something external and we don't have a control on this. This is the default mechanism of the Digest Authenticator. Have raised https://github.com/rburgst/okhttp-digest/issues/47 for the same.

[2018-03-16 20:45] vivekmuniyandi commented on #780
Modifying the milestone as it is something external. Will keep it open to see the response and have this to track anything we might need to do on our side.

[2018-03-19 19:19] vivekmuniyandi commented on #897
@georgeajit please update the dependencies in functional tests if needed. I have updated everything in the parent project and in marklogic-client-api project.

[2018-03-20 00:10] vivekmuniyandi commented on #478
Have added [Jenkins jobs](https://jenkins.marklogic.com/view/Java%20API/) for various tasks. The detailed description of the jobs can be found in the [wiki](https://wiki.marklogic.com/display/ENGINEERING/Java+Client+API).

[2018-03-20 20:35] georgeajit commented on #904
Test are running fine.

[2018-03-20 20:54] marklogic-builder commented on #478
included in jenkins jobs

[2018-03-20 20:54] #478 closed

[2018-03-20 21:54] georgeajit commented on #735
Verified on Stress test run dated 03/20/2018. The issue is fixed.

[2018-03-20 22:26] vivekmuniyandi commented on #899
Made all the changes and the build has been successful in the past days.

[2018-03-20 22:26] #899 closed

[2018-03-20 22:52] georgeajit commented on #848
Moving to 4.0.5 release.

[2018-03-20 22:58] georgeajit commented on #567
Verified on nightly regression dated 03/20/2018 on Linux platform. The test ran fine.

[2018-03-20 23:04] georgeajit commented on #860
The files have been removed.

[2018-03-21 23:07] vivekmuniyandi commented on #900
This is expected and it didn't happen earlier because it was using a Stax XMLOutputFactory and not the default Oracle's com.sun.xml.internal.stream.XMLOutputFactoryImpl.

We should support Oracle's default output factory even though Stax is better. Since it was there in the classpath, stax got picked up instead of the java's XMLOutputFactory.

I have set the system property to use Java's XMLOutput

[2018-03-22 01:30] alan-johnson opened #908 "StructuredQueryBuild search throws exception when no results found"
So we can address your issue, please include the following:
* Version of MarkLogic Java Client API (see Readme.txt)
MarkLogic 8 - Java API 3.0.1, 3.0.8
MarkLogic 9 - Java API 4.0.3, 4.0.3.1
* Version of MarkLogic Server (see admin gui on port 8001)
MarkLogic 8.0-3
MarkLogic 9.0-4
* Java version (`java -version`)
java version "1.8.0_111"
* OS and version
MacOS, High Sierra, 10.13.3
* Input: Some co

[2018-03-22 01:56] vivekmuniyandi commented on #908
I don't have the options and so I changed the code like this
[code]

This gave me nothing to match. I got the following output

[code]
I get no exception.

Please paste the options. I will check again.

[2018-03-22 22:28] alan-johnson commented on #908
Thanks for attempting to recreate! That helps narrow down the issue.  I've attached 3 .zip files to assist in further efforts. One is the search options and a curl command to load them. You'll probably have to adjust the curl call as it's targeting our course environment. Another .zip has a couple of test top-songs .XML documents to verify results. The final is the database index configuration tha

[2018-03-23 20:50] vivekmuniyandi commented on #908
Thanks for passing those! Still unsuccessful. Can you paste me the full stack of the exception. The issue is missing some details of the exception. Also, doing a curl

[code]

on the Documents database, gives me a 500 Internal server error

[code]

[2018-03-23 21:10] vivekmuniyandi commented on #871
### QA

Need to test and it would be good to add functional tests as well as we are missing tests for this. Please log a separate task for 4.0.5 if this can't be contained within this release. Thanks!

[2018-03-23 22:40] alan-johnson commented on #908
Ok. I recreated everything from the app server, loading test songs, loading database index config and loading search options. These are attached in the attached .zip files. I've also included my code test app in the "mlu-test.zip" file.

To setup my test bed:
- run the curl statement in the "top-songs-server-config" folder to create the rest instance, content and module databases.
- run the curl s

[2018-03-23 22:54] georgeajit opened #909 "ModifyPlanBase.where method needs an overload with PlanCondition as parameter"
The following code does not compile.
[code]
The compile error is:
[code]

[2018-03-23 23:19] kcoleman-marklogic commented on #878
Doc bugs like this do not really belong on github. It has been addressed in corresponding internal bug.

[2018-03-26 16:52] georgeajit commented on #900
Test corrected.

[2018-03-26 19:37] #597 closed

[2018-03-26 19:37] #589 closed

[2018-03-26 19:37] #588 closed

[2018-03-26 19:38] #521 closed

[2018-03-26 19:38] #644 closed

[2018-03-27 00:27] georgeajit commented on #850
Java docs examples have onUrisReady. QA tests also have the same.

[2018-03-27 17:36] georgeajit commented on #897
There was a space when QA committed changes to this issue, hence the changes are not reflected. Here are the changes done in test project's ```build.gradle``` file.

[code]

[2018-03-27 20:17] ehennum commented on #909
To test, one approach would be to copy and edit any test with a simple boolean expression similar to:

        .where(p.eq(p.col("city"), p.xs.string("Seattle")))

and then change the boolean expression to be similar to:

        .where(p.sqlCondition("city = 'Seattle'"))

[2018-03-27 22:42] vivekmuniyandi commented on #877
The pom.xml and the distribution XMLs are removed.

[2018-03-28 01:21] georgeajit commented on #909
Tests in #853

[2018-03-28 16:52] vivekmuniyandi commented on #878
Verified in the latest nightly pubs that the typo has been addressed.

[2018-03-28 17:13] georgeajit commented on #799
This issue is resolved, since the projects have been realigned and the QA test project has a project dependency on MarkLogic Java Client API project.

[2018-03-28 20:20] jmakeig commented on #616
The more interesting pause/restart scenario for me is when the JVM goes away.

[2018-03-28 20:46] jmakeig commented on #646
I think the user would expect to be able to do this. As I understand it, each of the documents in each of the batches needs the same metadata. Thus it makes sense to create the metadata once and just pass it into the QueryBatcher.

[2018-03-28 21:09] ehennum commented on #646
I believe I see the bug -- ValueSerializer valueSerializer should not be a field but, instead, should be created inside sendMetadataImpl() and passed as a parameter.

We should probably review the other handles to make sure that none of them have serialization routines that keep mutable state in fields.

[2018-03-28 22:04] georgeajit commented on #647
Assigning to Kim for documentation.

[2018-03-28 22:31] jmakeig commented on #646
Good catch.

[2018-03-29 16:28] ehennum commented on #646
An afterthought about other handles and the question about usage patterns that Justin raised during the meeting...

With respect to reviewing other handles -- that would only be appropriate for non-streaming representations.  Streaming representations can't be reused within a single thread, let alone by multiple threads.

We could refine the contract to be that handles (aka adapters) for non-strea

[2018-03-29 21:05] ehennum opened #910 "add ConfigurationManager to write configuration packages"
Administrators need to be able to apply configuration to a production system from a client.  In addition, developers need a way to configure a development cluster or to inspect and adapt to the configured environment dynamically (as with reflection).

MarkLogic 9.0-5 is expected to add support for configuration packages.

After that lands, the Java API database client should add a ConfigurationMan

[2018-03-29 22:00] vivekmuniyandi opened #911 "Streaming Multipart for OkHttp"
Needed to support streaming bulk read (used by DMSDK ExportListener), optic API, eval, resource extensions, bulk search, and large single document read with metadata. We could perhaps use a stand-alone library like nio-multipart, or the more battle-tested apache fileupload
the only concern about apache fileupload is it depends on apache commons-io which might create version conflicts if other fram

[2018-04-09 16:10] vivekmuniyandi commented on #908
Sorry, I lost this. Will try it out in the coming week and check. Thanks

[2018-04-11 00:24] chiamarc opened #912 "RawPlanDefinition constructor does not set MIME type."
Java client API 5.0-20180405

Constructor should set content MIME type to application/json (handle should have format Format.JSON)

[2018-04-11 22:30] vivekmuniyandi opened #913 "Jenkins failure - add the host name to the directory to make it unique so that we can have multiple runs"
We are experiencing Jenkins failures because we have the same shared folder used by multiple runs in multiple hosts. Append host name to the folder so that they will be unique for each run and avoid failures.

[2018-04-11 22:31] vivekmuniyandi commented on #913
We can use the same task to triage all the Jenkins failures with respect to functional tests as well and make it clean!

[2018-04-12 22:03] vivekmuniyandi commented on #806
Related bug track issue https://bugtrack.marklogic.com/47676

[2018-04-15 22:07] AleksandarSavic95 commented on #319
For anyone who encountered this error:

here is a solution that worked for me: Check that Your `about` attribute has an absolute URI as the value.
My mistake is that I had:

And the correct way of setting the `about` attribute is like this:

By writing it this way, You are giving the full path, i.e. the **base URI** + the relative part.
It's a dumb error, but [it could happen to You](https://www.y

[2018-04-18 18:52] vivekmuniyandi commented on #913
Ajit,

https://jenkins.marklogic.com/view/Java%20API/job/Java-client-api-develop-9.0-nightly/126/consoleFull

I see the same error and issue now as well.

chgrp: cannot access ‘/project/qa-netapp/space/dmsdk-failover/linux/java-client-api-2-1.marklogic.com-9/temp-1’: No such file or directory

The test failures are still there.

[2018-04-18 19:03] vivekmuniyandi commented on #913
Also, can you include the changes for the other OS as well if that is applicable? It is done only for linux now.

[2018-04-18 23:18] vivekmuniyandi opened #914 "Move ExtractViaTemplateListener and TypedRow to datamovement package"
Both the classes are present in example package and hence the run time jars wont have them. Move them to datamovement package.

[2018-04-19 17:50] jmakeig commented on #914
Aside: @vivekmuniyandi, why is there a `Via` in the `ExtractViaTemplateListener` name?

[2018-04-19 17:56] vivekmuniyandi commented on #914
We are extracting TypedRows via the TDE template supplied to the listener. Hence the name.. ExtractTemplate or ExtractRows would be ambiguous as we thought we would be extracting rows through optic queries as well in the future. Hence the name.

[2018-04-19 17:57] vivekmuniyandi commented on #914
If it makes more sense, we can rename it to ExtractRowsViaTemplateListener?

[2018-04-19 20:54] srinathgit commented on #836
The issue hasn't surfaced in multiple test runs after the fix

[2018-04-19 21:08] vivekmuniyandi commented on #914
Ajit, as a part of this, move the functional tests from the feature branch to develop and once Rob has merged the changes on to develop, create a jar out of the develop branches and make the functional tests run in the nightly regression.

[2018-04-20 11:29] alan-johnson commented on #908
Any more info on this? Thanks much!

[2018-04-27 20:21] brunovianarezende opened #916 "Data Movement API doesn't return the results sorted"
* Version of MarkLogic Java Client API: 4.0.3.1
* Version of MarkLogic Server: 9.0-4
* Java version: 1.8.0_171
* OS and version: Ubuntu 16.04

I'm trying to use data movement API to export the results of a sorted query, but the returned URIs are not ordered, even inside a batch. Does data movement API support this use case?

[2018-04-27 21:40] grechaw commented on #916
What is the query?  Did you sort by URI?

[2018-04-27 21:57] brunovianarezende commented on #916
this is a code snippet similar to what I've done:

[code]
we sort by 'sortIndex', which in our case points to a path range index, e.g. `/name`. This index is populated with string, not with URIs.

[2018-04-27 22:12] grechaw commented on #916
From this query then, I would expect the URIs returned by the call to be in order of the value of the name element.

So are the URIs coming back in some other order?  It might be hard to tell that the URIs are indeed in the proper order.  The query seems to be valid.

[2018-04-27 23:05] vivekmuniyandi commented on #916
While I am working to reproduce this with a small dataset, can you please confirm from where the variable sortOptions in the following line is coming from?

[code]

Because we initialize the sort options to a variable called sortOptionsXml here

[code]

Thanks!

[2018-04-27 23:07] vivekmuniyandi commented on #916
Since we are using filtered search, it is calling cts:search underneath and the sort order should be in effect at least at the batch level. I will create a small dataset and try and reproduce this.

[2018-04-27 23:14] brunovianarezende commented on #916
sortOptions should actually be sortOptionsXml:

[code]

[2018-04-30 17:33] kcoleman-marklogic commented on #647
I don't think this needs additional documentation, beyond what's in the javadoc.

Rob said it is "one of the better features of the Java Client API", but I do not find it referenced ANYWHERE in the javadoc before 4.0.4. That is, it is not passed or returned in any public interface, other than the new overload added by this bug.

It feels almost like an internal interface that  "leaked", which is f

[2018-04-30 17:33] #647 closed

[2018-05-01 20:00] vivekmuniyandi commented on #916
DMSDK splits the huge tasks into small chunks by directing the query to each forest and getting the URIs from each forest in batches. Even if we pass in the sort options, we would get an ordering per forest and not on the whole. Since we can't get a global ordering, we chose to drop the options and it doesn't make sense to have an ordering at the forest level.

What's the use case of doing this? I

[2018-05-01 20:00] #916 closed, assigned to nobody

[2018-05-02 11:56] brunovianarezende commented on #916
The use case is:

1. a user goes to a search screen and make a sorted search
2. the user see the results sorted
3. the user decides to export the results as a CSV file
4. when the user checks the CSV file, the objects are in the same order as in the search screen

However, we are not sure yet if our client would be ok with the results not sorted. We'll talk with them and if they aren't ok I'll add

[2018-05-02 18:08] vivekmuniyandi opened #917 "Tableau Post 4.0.4 Things"
### PR Changes

Raise a PR against data movement components to have one final check and make changes to the README as well.

1. “testMismatchedTypes” depends on a class called “Common”; I’m assuming that’s from the src/test/java portion of marklogic-client-api, so I commented this class out - Remove Common
2. “testInvalidTypes” references “Type.SPATIAL”, but this is not part of the current develop

[2018-05-02 23:58] #474 closed

[2018-05-02 23:58] #850 closed

[2018-05-02 23:58] #859 closed

[2018-05-02 23:58] #863 closed

[2018-05-02 23:58] #867 closed

[2018-05-02 23:58] #874 closed

[2018-05-03 00:11] #567 closed

[2018-05-03 00:11] #719 closed

[2018-05-03 00:11] #735 closed

[2018-05-03 00:11] #757 closed

[2018-05-03 00:11] #792 closed

[2018-05-03 00:11] #808 closed

[2018-05-03 00:11] #826 closed

[2018-05-03 00:11] #832 closed

[2018-05-03 00:11] #835 closed

[2018-05-03 00:11] #836 closed

[2018-05-03 00:11] #839 closed

[2018-05-03 00:11] #843 closed

[2018-05-03 00:11] #846 closed

[2018-05-03 00:11] #853 closed

[2018-05-03 00:11] #860 closed

[2018-05-03 00:11] #866 closed

[2018-05-03 00:11] #872 closed

[2018-05-03 00:11] #873 closed

[2018-05-03 00:11] #877 closed

[2018-05-03 00:11] #878 closed

[2018-05-03 00:11] #882 closed

[2018-05-03 00:11] #884 closed

[2018-05-03 00:11] #887 closed

[2018-05-03 00:11] #889 closed

[2018-05-03 00:11] #891 closed

[2018-05-03 00:11] #892 closed

[2018-05-03 00:11] #896 closed

[2018-05-03 00:11] #897 closed

[2018-05-03 00:11] #898 closed

[2018-05-03 00:11] #900 closed

[2018-05-03 00:11] #903 closed

[2018-05-03 00:11] #904 closed

[2018-05-03 00:11] #909 closed

[2018-05-03 00:11] #914 closed

[2018-05-03 17:17] vivekmuniyandi commented on #917
We need to make changes to this [line](https://github.com/marklogic/java-client-api/blob/4.0-master/marklogic-client-api/src/main/java/com/marklogic/client/example/cookbook/datamovement/ExtractRowsViaTemplate.java#L43) and this [line](https://github.com/marklogic/java-client-api/blob/4.0-master/marklogic-client-api/src/main/java/com/marklogic/client/datamovement/ExtractRowsViaTemplateListener.java

[2018-05-04 19:31] brunovianarezende opened #918 "Missing namespace in properties"
### Version of MarkLogic Java Client API: 4.0.1
### Version of MarkLogic Server: 9.0.4
### Java version: openjdk version "1.8.0_161"
### OS and version: Cent0S version 7

Not sure if this is an issue in java-client-api or mlcp. I'll report it here, please correct me if I'm wrong.

I'm trying to save a document with properties by using java and after a lot of debugging I see that what is sent as me

[2018-05-04 19:47] jmakeig commented on #918
mlcp does not use the Java Client API under the covers. It predates the Java Client and uses the lower-level [XCC](https://developer.marklogic.com/products/xcc) library. We’re tracking an issue internally to figure out how you got into this state. I’ll update the marklogic/marklogic-contentpump#76 when we come up with something. In the meantime, it sounds like explicitly declaring the `xs` namespa

[2018-05-04 19:47] #918 closed

[2018-05-04 19:55] brunovianarezende commented on #918
Actually, explicitly declaring the `xs` namespace solves the problem for that document. But, then, this is just a workaround I've done in my test environment to be able to find out what is the problem. I can't explicitly set the namespace in all documents I have in production MarkLogic. Even if I could, when I create a new document, it will again miss the namespace in properties. What I fear is to

[2018-05-04 19:58] jmakeig commented on #918
Also, if this is happening on a production system and your license entitles you to support, please file a [request](https://help.marklogic.com).

[2018-05-12 00:19] georgeajit opened #920 "QueryBatcher awaitCompletion with thread count = 1 hangs"
Version of MarkLogic Java Client API : develop branch (Post 4.0.4)
Version of MarkLogic Server: 9.0 nightly build (20180510) on 3 node cluster
Java version : 1.8
OS and version : All platforms

Input: To reproduced
[code]

Actual output: The test hangs. Jenkins Job and nightly regression test suite systems timeout. Here is the jStack output.
[code]

Expected output: This test uses ```DeleteListene

[2018-05-14 20:17] vivekmuniyandi opened #921 "Pass in a Default TrustManager to Okhttpservices instead of using the Deprecated method"
Pass in a TrustManager like this which would use the default Java Key store

[code]
Or at least have it in the Javadoc

[2018-05-16 18:41] vivekmuniyandi opened #922 "Create Examples gradle sub project and have instructions to run them"
Copy the examples into a separate gradle sub project and have sufficient README and instructions to run them

[2018-05-16 18:43] vivekmuniyandi opened #923 "Create functional tests for QueryBatcher Iterator"
This issue is to track the task of checking the amount of tests we have for QueryBatcher iterator and adding failover tests if applicable for the iterator case

[2018-05-16 18:47] vivekmuniyandi opened #924 "Clean and streamline Java client API testing"
Identify tests which we have excluded and make sure that we run it both in Jenkins and nightly regressions. This covers SSL runs and other type of authentications.